*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: center;
    word-break: break-word; /*자동 줄바꿈시 단어 단위로 끊게*/
}

:root{
    scroll-behavior: smooth;
    --color-red:#FF3B3B;
    --color-pink:#FF80BD;
    --color-magenta:#FF006F;
    --color-purple:#A459D1;
    --color-indigo:#3334D1;
    --color-blue:#254dec;
    --color-cyan:#38BACF;
    --color-green:#57BA6F;
    --color-yellowgreen:#9EE876;
    --color-yellow:#FFED63;
    --color-orange:#FFBE30;
    --color-black:#000000;
    --color-white:#fff;
    --background-red:#ff5555;
    --background-pink:#ffaad3;
    --background-magenta:#ff3f92;
    --background-purple:#c681ee;
    --background-indigo:#5353eb;
    --background-blue:#486bf6;
    --background-cyan:#59d5e8;
    --background-green:#80de98;
    --background-yellowgreen:#c4fba7;
    --background-yellow:#fff292;
    --background-orange:#ffd782;
    --background-black:#000000;
    --background-white:#fff;
    font-size:16px;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:1rem;
    font-weight:400;
    line-height:1;
    -webkit-text-size-adjust: 100%;
}

::before, ::after {
    text-decoration: inherit;
    vertical-align: inherit;
}

h1, .h1{font-size: 2.5rem; font-weight:900;}
h2, .h2{font-size: 2rem; font-weight:900;}
h3, .h3{font-size: 1.75rem; font-weight:900;}
h4, .h4{font-size: 1.5rem; font-weight:900;}
h5, .h5{font-size: 1.25rem; font-weight:900;}
h6, .h6{font-size: 1rem; font-weight:900;}

nav ol,
nav ul,
ol ol,
ol ul,
ul ol,
ul ul,
li{
    list-style-type: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input:focus{
    outline: none;
    appearance: none;
    border-radius: none;
    -webkit-appearance: none;
    -webkit-border-radius:none;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

a{
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

b, strong {
  font-weight: bolder;
}

a {
    background-color: transparent;
}

small {
    font-size: 80%;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

iframe, img {
    border-style: none;
}

select {
    text-transform: none;
}

canvas {
    display: inline-block;
}

/*[폰트 컬러]*/
.f-red{color:var(--color-red);}
.f-pink{color:var(--color-pink);}
.f-magenta{color:var(--color-magenta);}
.f-purple{color:var(--color-purple);}
.f-indigo{color:var(--color-indigo);}
.f-blue{color:var(--color-blue);}
.f-cyan{color:var(--color-cyan);}
.f-green{color:var(--color-green);}
.f-yg{color:var(--color-yellowgreen);}
.f-yellow{color:var(--color-yellow);}
.f-orange{color:var(--color-orange);}
.f-black{color:var(--color-black);}
.f-white{color:var(--color-white);}

/*text align*/
.text-C{text-align: center;}
.text-L{text-align: left;}
.text-R{text-align: right;}
.text-Vc{vertical-align: center;}
.text-Vt{vertical-align: top;}
.text-Vb{vertical-align: bottom;}

/*[배경색]*/
.bg-red{background-color:var(--background-red);}
.bg-pink{background-color:var(--background-pink) ;}
.bg-magenta{background-color:var(--background-magenta);}
.bg-purple{background-color: var(--background-purple);}
.bg-indigo{background-color: var(--background-indigo);}
.bg-blue{background-color: var(--background-blue);}
.bg-cyan{background-color: var(--background-cyan);}
.bg-green{background-color: var(--background-green);}
.bg-yg{background-color: var(--background-yellowgreen);}
.bg-yellow{background-color: var(--background-yellow);}
.bg-orange{background-color: var(--background-orange);}
.bg-white{background-color: var(--background-white);}
.bg-black{background-color: var(--background-black);}

/*[border]*/
.border-red{border:1px solid var(--color-red);}
.border-pink{border:1px solid var(--color-pink);}
.border-magenta{border:1px solid var(--color-magenta);}
.border-purple{border:1px solid var(--color-purple);}
.border-indigo{border:1px solid var(--color-indigo);}
.border-blue{border:1px solid var(--color-blue);}
.border-cyan{border:1px solid var(--color-cyan);}
.border-green{border:1px solid var(--color-green);}
.border-yg{border:1px solid var(--color-yellowgreen);}
.border-yellow{border:1px solid var(--color-yellow);}
.border-orange{border:1px solid var(--color-orange);}
.border-white{border:1px solid var(--color-white);}
.border-black{border:1px solid var(--color-black);}
/*dashed*/
.border-dashed-red{border:1px dashed var(--color-red);}
.border-dashed-pink{border:1px dashed var(--color-pink);}
.border-dashed-magenta{border:1px dashed var(--color-magenta);}
.border-dashed-purple{border:1px dashed var(--color-purple);}
.border-dashed-indigo{border:1px dashed var(--color-indigo);}
.border-dashed-blue{border:1px dashed var(--color-blue);}
.border-dashed-cyan{border:1px dashed var(--color-cyan);}
.border-dashed-green{border:1px dashed var(--color-green);}
.border-dashed-yg{border:1px dashed var(--color-yellowgreen);}
.border-dashed-yellow{border:1px dashed var(--color-yellow);}
.border-dashed-orange{border:1px dashed var(--color-orange);}
.border-dashed-white{border:1px dashed var(--color-white);}
.border-dashed-black{border:1px dashed var(--color-black);}
/*dotted*/
.border-dotted-red{border:1px dotted var(--color-red);}
.border-dotted-pink{border:1px dotted var(--color-pink);}
.border-dotted-magenta{border:1px dotted var(--color-magenta);}
.border-dotted-purple{border:1px dotted var(--color-purple);}
.border-dotted-indigo{border:1px dotted var(--color-indigo);}
.border-dotted-blue{border:1px dotted var(--color-blue);}
.border-dotted-cyan{border:1px dotted var(--color-cyan);}
.border-dotted-green{border:1px dotted var(--color-green);}
.border-dotted-yg{border:1px dotted var(--color-yellowgreen);}
.border-dotted-yellow{border:1px dotted var(--color-yellow);}
.border-dotted-orange{border:1px dotted var(--color-orange);}
.border-dotted-white{border:1px dotted var(--color-white);}
.border-dotted-black{border:1px dotted var(--color-black);}

/*[box-shadow]*/
.box-shadow-red{box-shadow:0.2rem 0.2rem 0.6rem var(--color-red);}
.box-shadow-pink{box-shadow:0.2rem 0.2rem 0.6rem var(--color-pink);}
.box-shadow-magenta{box-shadow:0.2rem 0.2rem 0.6rem var(--color-magenta);}
.box-shadow-purple{box-shadow:0.2rem 0.2rem 0.6rem var(--color-purple);}
.box-shadow-indigo{box-shadow:0.2rem 0.2rem 0.6rem var(--color-indigo);}
.box-shadow-blue{box-shadow:0.2rem 0.2rem 0.6rem var(--color-blue);}
.box-shadow-cyan{box-shadow:0.2rem 0.2rem 0.6rem var(--color-cyan);}
.box-shadow-green{box-shadow:0.2rem 0.2rem 0.6rem var(--color-green);}
.box-shadow-yg{box-shadow:0.2rem 0.2rem 0.6rem var(--color-yellowgreen);}
.box-shadow-yellow{box-shadow:0.2rem 0.2rem 0.6rem var(--color-yellow);}
.box-shadow-orange{box-shadow:0.2rem 0.2rem 0.6rem var(--color-orange);}
.box-shadow-white{box-shadow:0.2rem 0.2rem 0.6rem var(--color-white);}
.box-shadow-black{box-shadow:0.2rem 0.2rem 0.6rem gray;}

/*[box-shadow-inset]*/
.box-shadow-inset-red{box-shadow:inset 0.2rem 0.2rem 0.6rem var(--color-red);}
.box-shadow-inset-pink{box-shadow:inset 0.2rem 0.2rem 0.6rem var(--color-pink);}
.box-shadow-inset-magenta{box-shadow:inset 0.2rem 0.2rem 0.6rem var(--color-magenta);}
.box-shadow-inset-purple{box-shadow:inset 0.2rem 0.2rem 0.6rem var(--color-purple);}
.box-shadow-inset-indigo{box-shadow:inset 0.2rem 0.2rem 0.6rem var(--color-indigo);}
.box-shadow-inset-blue{box-shadow:inset 0.2rem 0.2rem 0.6rem var(--color-blue);}
.box-shadow-inset-cyan{box-shadow:inset 0.2rem 0.2rem 0.6rem var(--color-cyan);}
.box-shadow-inset-green{box-shadow:inset 0.2rem 0.2rem 0.6rem var(--color-green);}
.box-shadow-inset-yg{box-shadow:inset 0.2rem 0.2rem 0.6rem var(--color-yellowgreen);}
.box-shadow-inset-yellow{box-shadow:inset 0.2rem 0.2rem 0.6rem var(--color-yellow);}
.box-shadow-inset-orange{box-shadow:inset 0.2rem 0.2rem 0.6rem var(--color-orange);}
.box-shadow-inset-white{box-shadow:inset 0.2rem 0.2rem 0.6rem var(--color-white);}
.box-shadow-inset-black{box-shadow:inset 0.2rem 0.2rem 0.6rem gray;}

/*[text-shadow]*/
.text-shadow-red{text-shadow:0.2rem 0.2rem 0.6rem var(--color-red);}
.text-shadow-pink{text-shadow:0.2rem 0.2rem 0.6rem var(--color-pink);}
.text-shadow-magenta{text-shadow:0.2rem 0.2rem 0.6rem var(--color-magenta);}
.text-shadow-purple{text-shadow:0.2rem 0.2rem 0.6rem var(--color-purple);}
.text-shadow-indigo{text-shadow:0.2rem 0.2rem 0.6rem var(--color-indigo);}
.text-shadow-blue{text-shadow:0.2rem 0.2rem 0.6rem var(--color-blue);}
.text-shadow-cyan{text-shadow:0.2rem 0.2rem 0.6rem var(--color-cyan);}
.text-shadow-green{text-shadow:0.2rem 0.2rem 0.6rem var(--color-green);}
.text-shadow-yg{text-shadow:0.2rem 0.2rem 0.6rem var(--color-yellowgreen);}
.text-shadow-yellow{text-shadow:0.2rem 0.2rem 0.6rem var(--color-yellow);}
.text-shadow-orange{text-shadow:0.2rem 0.2rem 0.6rem var(--color-orange);}
.text-shadow-white{text-shadow:0.2rem 0.2rem 0.6rem var(--color-white);}
.text-shadow-black{text-shadow:0.2rem 0.2rem 0.6rem gray;}

.text-shadow-hard-red{text-shadow:0.2rem 0.2rem 0 var(--color-red);}
.text-shadow-hard-pink{text-shadow:0.2rem 0.2rem 0 var(--color-pink);}
.text-shadow-hard-magenta{text-shadow:0.2rem 0.2rem 0 var(--color-magenta);}
.text-shadow-hard-purple{text-shadow:0.2rem 0.2rem 0 var(--color-purple);}
.text-shadow-hard-indigo{text-shadow:0.2rem 0.2rem 0 var(--color-indigo);}
.text-shadow-hard-blue{text-shadow:0.2rem 0.2rem 0 var(--color-blue);}
.text-shadow-hard-cyan{text-shadow:0.2rem 0.2rem 0 var(--color-cyan);}
.text-shadow-hard-green{text-shadow:0.2rem 0.2rem 0 var(--color-green);}
.text-shadow-hard-yg{text-shadow:0.2rem 0.2rem 0 var(--color-yellowgreen);}
.text-shadow-hard-yellow{text-shadow:0.2rem 0.2rem 0 var(--color-yellow);}
.text-shadow-hard-orange{text-shadow:0.2rem 0.2rem 0 var(--color-orange);}
.text-shadow-hard-white{text-shadow:0.2rem 0.2rem 0 var(--color-white);}
.text-shadow-hard-black{text-shadow:0.2rem 0.2rem 0 gray;}


/*[border radius]*/
.radius1{border-radius: 0.2rem;}
.radius2{border-radius: 0.5rem;}
.radius3{border-radius: 0.7rem;}
.radius4{border-radius: 1rem;}
.round{border-radius: 50%;}

/*[opacity]*/
.op10{opacity: 1;}
.op9{opacity: 0.9;}
.op8{opacity: 0.8;}
.op7{opacity: 0.7;}
.op6{opacity: 0.6;}
.op5{opacity: 0.5;}
.op4{opacity: 0.4;}
.op3{opacity: 0.3;}
.op2{opacity: 0.2;}
.op1{opacity: 0.1;}
.op0{opacity: 0;}

/*[padding]*/
.pad1{padding:1rem;}
.pad2{padding:1.5rem;}
.pad3{padding:2rem;}
.pad4{padding:2.5rem;}
.pad5{padding:3rem;}
.pad6{padding:3.5rem;}
.pad7{padding:4rem;}
.pad8{padding:4.5rem;}
.pad9{padding:5rem;}
.pad10{padding:5.5rem;}
.pad11{padding:6rem;}
/*padding vertical*/
.pad-vr-1{padding:1rem, 0;}
.pad-vr-2{padding:1.5rem, 0;}
.pad-vr-3{padding:2rem, 0;}
.pad-vr-4{padding:2.5rem, 0;}
.pad-vr-5{padding:3rem, 0;}
.pad-vr-6{padding:3.5rem, 0;}
.pad-vr-7{padding:4rem, 0;}
.pad-vr-8{padding:4.5rem, 0;}
.pad-vr-9{padding:5rem, 0;}
.pad-vr-10{padding:5.5rem, 0;}
.pad-vr-11{padding:7rem, 0;}
/*padding horizontal*/
.pad-hr-1{padding:0, 1rem;}
.pad-hr-2{padding:0, 1.5rem;}
.pad-hr-3{padding:0, 2rem;}
.pad-hr-4{padding:0, 2.5rem;}
.pad-hr-5{padding:0, 3rem;}
.pad-hr-6{padding:0, 3.5rem;}
.pad-hr-7{padding:0, 4rem;}
.pad-hr-8{padding:0, 4.5rem;}
.pad-hr-9{padding:0, 5rem;}
.pad-hr-10{padding:0, 5.5rem;}
.pad-hr-11{padding:0, 6rem;}
/*padding top*/
.padT1{padding-top:1rem;}
.padT2{padding-top:1.5rem;}
.padT3{padding-top:2rem;}
.padT4{padding-top:2.5rem;}
.padT5{padding-top:3rem;}
.padT6{padding-top:3.5rem;}
.padT7{padding-top:4rem;}
.padT8{padding-top:4.5rem;}
.padT9{padding-top:5rem;}
.padT10{padding-top:5.5rem;}
.padT11{padding-top:6rem;}
/*padding bottom*/
.padB1{padding-bottom:1rem;}
.padB2{padding-bottom:1.5rem;}
.padB3{padding-bottom:2rem;}
.padB4{padding-bottom:2.5rem;}
.padB5{padding-bottom:3rem;}
.padB6{padding-bottom:3.5rem;}
.padB7{padding-bottom:4rem;}
.padB8{padding-bottom:4.5rem;}
.padB9{padding-bottom:5rem;}
.padB10{padding-bottom:5.5rem;}
.padB11{padding-bottom:6rem;}
/*padding left*/
.padL1{padding-left:1rem;}
.padL2{padding-left:1.5rem;}
.padL3{padding-left:2rem;}
.padL4{padding-left:2.5rem;}
.padL5{padding-left:3rem;}
.padL6{padding-left:3.5rem;}
.padL7{padding-left:4rem;}
.padL8{padding-left:4.5rem;}
.padL9{padding-left:5rem;}
.padL10{padding-left:5.5rem;}
.padL11{padding-left:6rem;}
/*padding right*/
.padR1{padding-right:1rem;}
.padR2{padding-right:1.5rem;}
.padR3{padding-right:2rem;}
.padR4{padding-right:2.5rem;}
.padR5{padding-right:3rem;}
.padR6{padding-right:3.5rem;}
.padR7{padding-right:4rem;}
.padR8{padding-right:4.5rem;}
.padR9{padding-right:5rem;}
.padR10{padding-right:5.5rem;}
.padR11{padding-right:6rem;}


/*[margin]*/

/*just margin*/
.mar1{margin:1rem;}
.mar2{margin:1.5rem;}
.mar3{margin:2rem;}
.mar4{margin:2.5rem;}
.mar5{margin:3rem;}
.mar6{margin:3.5rem;}
.mar7{margin:4rem;}
.mar8{margin:4.5rem;}
.mar9{margin:5rem;}
.mar10{margin:5.5rem;}
.mar11{margin:6rem;}

/*padding vertical*/
.mar-vr-1{margin:1rem, 0;}
.mar-vr-2{margin:1.5rem, 0;}
.mar-vr-3{margin:2rem, 0;}
.mar-vr-4{margin:2.5rem, 0;}
.mar-vr-5{margin:3rem, 0;}
.mar-vr-6{margin:3.5rem, 0;}
.mar-vr-7{margin:4rem, 0;}
.mar-vr-8{margin:4.5rem, 0;}
.mar-vr-9{margin:5rem, 0;}
.mar-vr-10{margin:5.5rem, 0;}
.mar-vr-11{margin:7rem, 0;}
/*padding horizontal*/
.mar-hr-1{margin:0, 1rem;}
.mar-hr-2{margin:0, 1.5rem;}
.mar-hr-3{margin:0, 2rem;}
.mar-hr-4{margin:0, 2.5rem;}
.mar-hr-5{margin:0, 3rem;}
.mar-hr-6{margin:0, 3.5rem;}
.mar-hr-7{margin:0, 4rem;}
.mar-hr-8{margin:0, 4.5rem;}
.mar-hr-9{margin:0, 5rem;}
.mar-hr-10{margin:0, 5.5rem;}
.mar-hr-11{margin:0, 6rem;}
/*margin center*/
.marC{margin:0 auto;}
.marC1{margin:1rem auto;}
.marC2{margin:1.5rem auto;}
.marC3{margin:2rem auto;}
.marC4{margin:2.5rem auto;}
.marC5{margin:3rem auto;}
.marC6{margin:3.5rem auto;}
.marC7{margin:4rem auto;}
.marC8{margin:4.5rem auto;}
.marC9{margin:5rem auto;}
.marC10{margin:5.5rem auto;}
.marC11{margin:6rem auto;}
.marC12{margin:6.5rem auto;}
.marC13{margin:7rem auto;}
.marC14{margin:7.5rem auto;}
.marC15{margin:8rem auto;}
/*margin top*/
.marT1{margin-top:1rem;}
.marT2{margin-top:1.5rem;}
.marT3{margin-top:2rem;}
.marT4{margin-top:2.5rem;}
.marT5{margin-top:3rem;}
.marT6{margin-top:3.5rem;}
.marT7{margin-top:4rem;}
.marT8{margin-top:4.5rem;}
.marT9{margin-top:5rem;}
.marT10{margin-top:5.5rem;}
.marT11{margin-top:6rem;}
.marT12{margin-top:6.5rem;}
.marT13{margin-top:7rem;}
.marT14{margin-top:7.5rem;}
.marT15{margin-top:8rem;}
/*margin bottom*/
.marB1{margin-bottom:1rem;}
.marB2{margin-bottom:1.5rem;}
.marB3{margin-bottom:2rem;}
.marB4{margin-bottom:2.5rem;}
.marB5{margin-bottom:3rem;}
.marB6{margin-bottom:3.5rem;}
.marB7{margin-bottom:4rem;}
.marB8{margin-bottom:4.5rem;}
.marB9{margin-bottom:5rem;}
.marB10{margin-bottom:5.5rem;}
.marB11{margin-bottom:6rem;}
.marB12{margin-bottom:6.5rem;}
.marB13{margin-bottom:7rem;}
.marB14{margin-bottom:7.5rem;}
.marB15{margin-bottom:8rem;}
/*margin left*/
.marL1{margin-left:1rem;}
.marL2{margin-left:1.5rem;}
.marL3{margin-left:2rem;}
.marL4{margin-left:2.5rem;}
.marL5{margin-left:3rem;}
.marL6{margin-left:3.5rem;}
.marL7{margin-left:4rem;}
.marL8{margin-left:4.5rem;}
.marL9{margin-left:5rem;}
.marL10{margin-left:5.5rem;}
.marL11{margin-left:6rem;}
.marL12{margin-left:6.5rem;}
.marL13{margin-left:7rem;}
.marL14{margin-left:7.5rem;}
.marL15{margin-left:8rem;}
/*margin right*/
.marR1{margin-right:1rem;}
.marR2{margin-right:1.5rem;}
.marR3{margin-right:2rem;}
.marR4{margin-right:2.5rem;}
.marR5{margin-right:3rem;}
.marR6{margin-right:3.5rem;}
.marR7{margin-right:4rem;}
.marR8{margin-right:4.5rem;}
.marR9{margin-right:5rem;}
.marR10{margin-right:5.5rem;}
.marR11{margin-right:6rem;}
.marR12{margin-right:6.5rem;}
.marR13{margin-right:7rem;}
.marR14{margin-right:7.5rem;}
.marR15{margin-right:8rem;}


/*[font-size]*/
.font1{font-size:1rem;}
.font2{font-size:1.5rem;}
.font3{font-size:2rem;}
.font4{font-size:2.5rem;}
.font5{font-size:3rem;}
.font6{font-size:3.5rem;}
.font7{font-size:4rem;}
.font8{font-size:4.5rem;}
.font9{font-size:5rem;}
.font10{font-size:5.5rem;}
.font11{font-size:6rem;}
.font12{font-size:6.5rem;}

@media (max-width:767px) {
    .font1{font-size:0.75rem;}
    .font2{font-size:1rem;}
    .font3{font-size:1.25rem;}
    .font4{font-size:1.5rem;}
    .font5{font-size:1.75rem;}
    .font6{font-size:2rem;}
    .font7{font-size:2.25rem;}
    .font8{font-size:2.5rem;}
    .font9{font-size:2.75rem;}
    .font10{font-size:3rem;}
    .font11{font-size:3.25rem;}
    .font12{font-size:3.5rem;}
}


/*[font-weight]*/
.light1{font-weight:100;}
.light2{font-weight:200;}
.light3{font-weight:300;}
.light4{font-weight:400;}
.normal{font-weight:500;}
.bold1{font-weight:600;}
.bold2{font-weight:700;}
.bold3{font-weight:800;}
.bold4{font-weight:900;}


/*[containers]*/
.con-xs{max-width:900px;}
.con-s{max-width:1000px;}
.con-l{max-width:1100px;}
.con-xl{max-width:1200px;}
@media (max-width:767px){
    .con-xs{max-width:100vw;}
    .con-s{max-width:100vw;}
    .con-l{max-width:100vw;}
    .con-xl{max-width:100vw;}
}
/*percentage widths*/
.width5{width:5%;}
.width10{width:10%;}
.width15{width:15%;}
.width20{width:20%;}
.width25{width:25%;}
.width30{width:30%;}
.width35{width:35%;}
.width40{width:40%;}
.width45{width:45%;}
.width50{width:50%;}
.width55{width:55%;}
.width60{width:60%;}
.width65{width:65%;}
.width70{width:70%;}
.width75{width:75%;}
.width80{width:80%;}
.width85{width:85%;}
.width90{width:90%;}
.width95{width:95%;}
.width100{width:100%;}


/*[position]*/
.p-relative{position:relative;}
.p-absolute{position:absolute;}
.p-fixed{position:fixed;}
.p-sticky{position:sticky;}

/*top*/
.top5{top:5%;}
.top10{top:10%;}
.top15{top:15%;}
.top20{top:20%;}
.top25{top:25%;}
.top30{top:30%;}
.top35{top:35%;}
.top40{top:40%;}
.top45{top:45%;}
.top50{top:50%;}
.top55{top:55%;}
.top60{top:60%;}
.top65{top:65%;}
.top70{top:70%;}
.top75{top:75%;}
.top80{top:80%;}
.top85{top:85%;}
.top90{top:90%;}
.top95{top:95%;}
.top100{top:100%;}
/*bottom*/
.bottom5{bottom:5%;}
.bottom10{bottom:10%;}
.bottom15{bottom:15%;}
.bottom20{bottom:20%;}
.bottom25{bottom:25%;}
.bottom30{bottom:30%;}
.bottom35{bottom:35%;}
.bottom40{bottom:40%;}
.bottom45{bottom:45%;}
.bottom50{bottom:50%;}
.bottom55{bottom:55%;}
.bottom60{bottom:60%;}
.bottom65{bottom:65%;}
.bottom70{bottom:70%;}
.bottom75{bottom:75%;}
.bottom80{bottom:80%;}
.bottom85{bottom:85%;}
.bottom90{bottom:90%;}
.bottom95{bottom:95%;}
.bottom100{bottom:100%;}
/*left*/
.left5{left:5%; transform:translate(-5%)}
.left10{left:10%; transform:translate(-10%)}
.left15{left:15%; transform:translate(-15%)}
.left20{left:20%; transform:translate(-20%)}
.left25{left:25%; transform:translate(-25%)}
.left30{left:30%; transform:translate(-30%)}
.left35{left:35%; transform:translate(-35%)}
.left40{left:40%; transform:translate(-40%)}
.left45{left:45%; transform:translate(-45%)}
.left50{left:50%; transform:translate(-50%)}
.left55{left:55%; transform:translate(-55%)}
.left60{left:60%; transform:translate(-60%)}
.left65{left:65%; transform:translate(-65%)}
.left70{left:70%; transform:translate(-70%)}
.left75{left:75%; transform:translate(-75%)}
.left80{left:80%; transform:translate(-80%)}
.left85{left:85%; transform:translate(-85%)}
.left90{left:90%; transform:translate(-90%)}
.left95{left:95%; transform:translate(-95%)}
.left100{left:100%; transform:translate(-100%)}
/*right*/
.right5{right:5%; transform:translate(5%)}
.right10{right:10%; transform:translate(10%)}
.right15{right:15%; transform:translate(15%)}
.right20{right:20%; transform:translate(20%)}
.right25{right:25%; transform:translate(25%)}
.right30{right:30%; transform:translate(30%)}
.right35{right:35%; transform:translate(35%)}
.right40{right:40%; transform:translate(40%)}
.right45{right:45%; transform:translate(45%)}
.right50{right:50%; transform:translate(50%)}
.right55{right:55%; transform:translate(55%)}
.right60{right:60%; transform:translate(60%)}
.right65{right:65%; transform:translate(65%)}
.right70{right:70%; transform:translate(70%)}
.right75{right:75%; transform:translate(75%)}
.right80{right:80%; transform:translate(80%)}
.right85{right:85%; transform:translate(85%)}
.right90{right:90%; transform:translate(90%)}
.right95{right:95%; transform:translate(95%)}
.right100{right:100%; transform:translate(100%)}


/*[flex]*/
.flex-all-center{display:flex; justify-content: center; align-items: center;}
.flex-wrap{display:flex; flex-wrap:wrap; justify-content: left;}
.flex-wrap-reverse{display:flex; flex-wrap:wrap-reverse; justify-content: left;}

/*flex row*/
.flex-row-around{display:flex; justify-content: space-around; align-items: center;}
.flex-row-between{display:flex; justify-content: space-between; align-items: center;}
.flex-row-evenly{display:flex; justify-content: space-evenly; align-items: center;}
.flex-right{display: flex; justify-content: right; align-items: center;}
.flex-left{display: flex; align-items: center;}

/*justify content*/
.justify-center{justify-content: center;}
.justify-left{justify-content: left;}
.justify-right{justify-content: right;}

/*align items*/
.align-center{align-items: center;}
.align-start{align-items: flex-start;}
.align-end{align-items: flex-end;}

/*flex column*/
.flex-col-around{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.flex-col-between{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.flex-col-evenly{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*flex-self*/
.self-start{align-self: flex-start;}
.self-end{align-self:flex-end;}
.self-left{justify-self: left;}
.self-right{justify-self: right;}

/*flex-col*/
.flex-col-auto > * {width: auto;}
.flex-col-1 > * {flex:0 0 auto; width: 100%;}
.flex-col-2 > * {width: 50%;}
.flex-col-3 > * {width: 33.3333333333%;}
.flex-col-4 > * {width: 25%;}
.flex-col-5 > * {width: 20%;}
.flex-col-6 > * {width: 16.6666666667;}
@media (max-width:767px){
    .flex-col-2 > * {flex:0 0 auto; width: 50%;}
    .flex-col-3 > * {flex:0 0 auto; width: 50%;}
    .flex-col-4 > * {flex:0 0 auto; width: 50%;}
    .flex-col-5 > * {flex:0 0 auto; width: 50%;}
    .flex-col-6 > * {flex:0 0 auto; width: 50%;}
}
@media (max-width:479px){
    .flex-col-2 > * {flex:0 0 auto; width: 100%;}
    .flex-col-3 > * {flex:0 0 auto; width: 100%;}
    .flex-col-4 > * {flex:0 0 auto; width: 100%;}
    .flex-col-5 > * {flex:0 0 auto; width: 100%;}
    .flex-col-6 > * {flex:0 0 auto; width: 100%;}
}

/*order*/
.order1{order:1;}
.order2{order:2;}
.order3{order:3;}
.order4{order:4;}
.order5{order:5;}
.order6{order:6;}
.order7{order:7;}
.order8{order:8;}
.order9{order:9;}
.order10{order:10;}
.order11{order:11;}
.order12{order:12;}
.order13{order:13;}
.order14{order:14;}
.order15{order:15;}
.order16{order:16;}
.order17{order:17;}
.order18{order:18;}
.order19{order:19;}
.order20{order:20;}


/*gap*/
.gap1{gap:0.5rem;}
.gap2{gap:1rem;}
.gap3{gap:1.5rem;}
.gap4{gap:2rem;}
.gap5{gap:2.5rem;}
.gap6{gap:3rem;}
.gap7{gap:3.5rem;}
.gap8{gap:4rem;}

/*flex-grow*/
.grow1{flex-grow:1;}
.grow2{flex-grow:2;}
.grow3{flex-grow:3;}
.grow4{flex-grow:4;}
.grow5{flex-grow:5;}
.grow6{flex-grow:6;}
.grow7{flex-grow:7;}

/*pre_setting*/
.nav-bar{display:flex; justify-content: space-evenly; align-items: center;}
@media (max-width:767px){
    .nav-bar{display:none;}
}

/*[border-spacing]*/
.border-spacing1{border-spacing: 0.5rem;}
.border-spacing2{border-spacing: 1rem;}
.border-spacing3{border-spacing: 1.5rem;}
.border-spacing4{border-spacing: 2rem;}
.border-spacing5{border-spacing: 2.5rem;}
.border-spacing6{border-spacing: 3rem;}
.border-spacing7{border-spacing: 3.5rem;}
.border-spacing8{border-spacing: 4rem;}

/*border collapse*/
.collapse-on{border-collapse: collapse;}
.collapse-off{border-collapse: separate;}


/*[display]*/
.block{display:block;}
.inline{display:inline;}
.inline-block{display:inline-block;}
.hide{display:none;}
.none{display:none;}
.show{display:block;}
.flex{display:flex;}
.grid{display:grid;}


/*[list style type]*/
.list-none{list-style-type: none;}
.list-disc{list-style-type: disc;}
.list-armenian{list-style-type:armenian;}
.list-circle{list-style-type:circle;}
.list-square{list-style-type:square;}
.list-alpha{list-style-type:lower-alpha;}
.list-greek{list-style-type:lower-greek;}
.list-latin{list-style-type:lower-latin;}
.list-roman{list-style-type:lower-roman;}
.list-georgian{list-style-type:georgian;}
.list-decimal{list-style-type:decimal;}
.list-decimal-zero{list-style-type:decimal-leading-zero;}


/*img position*/
.img-cover{object-fit: cover;}
.img-contain{object-fit: contain;}
.img-fill{object-fit: fill;}