*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: center;
    word-break: break-word; /*자동 줄바꿈시 단어 단위로 끊게*/
}

:root{
    scroll-behavior: smooth;
    --color-red:#FF3B3B;
    --color-pink:#FF80BD;
    --color-magenta:#FF006F;
    --color-purple:#A459D1;
    --color-indigo:#3334D1;
    --color-blue:#254dec;
    --color-cyan:#38BACF;
    --color-green:#57BA6F;
    --color-yellowgreen:#9EE876;
    --color-yellow:#FFED63;
    --color-orange:#FFBE30;
    --color-black:#000000;
    --color-white:#fff;
    --background-red:#ff5555;
    --background-pink:#ffaad3;
    --background-magenta:#ff3f92;
    --background-purple:#c681ee;
    --background-indigo:#5353eb;
    --background-blue:#486bf6;
    --background-cyan:#59d5e8;
    --background-green:#80de98;
    --background-yellowgreen:#c4fba7;
    --background-yellow:#fff292;
    --background-orange:#ffd782;
    --background-black:#000000;
    --background-white:#fff;
    font-size:16px; /*rem 사이즈 조절 축*/
}

body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:1rem;
    font-weight:400;
    line-height:1;
    -webkit-text-size-adjust: 100%;
}

::before, ::after {
    text-decoration: inherit;
    vertical-align: inherit;
}

h1, .h1{font-size: 2.5rem; font-weight:900;}
h2, .h2{font-size: 2rem; font-weight:900;}
h3, .h3{font-size: 1.75rem; font-weight:900;}
h4, .h4{font-size: 1.5rem; font-weight:900;}
h5, .h5{font-size: 1.25rem; font-weight:900;}
h6, .h6{font-size: 1rem; font-weight:900;}

nav ol,
nav ul,
ol ol,
ol ul,
ul ol,
ul ul,
li{
    list-style-type: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input:focus{
    outline: none;
    appearance: none;
    border-radius: none;
    -webkit-appearance: none;
    -webkit-border-radius:none;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

a{
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

b, strong {
  font-weight: bolder;
}

a {
    background-color: transparent;
}

small {
    font-size: 80%;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

iframe, img {
    border-style: none;
}

select {
    text-transform: none;
}

canvas {
    display: inline-block;
}


/*[containers]*/
.con-xs{max-width:900px;}
.con-s{max-width:1000px;}
.con-l{max-width:1100px;}
.con-xl{max-width:1200px;}


/*[font-size]*/
.font-1{font-size:1rem;}
.font-2{font-size:1.5rem;}
.font-3{font-size:2rem;}
.font-4{font-size:2.5rem;}
.font-5{font-size:3rem;}
.font-6{font-size:3.5rem;}
.font-7{font-size:4rem;}
.font-8{font-size:4.5rem;}
.font-9{font-size:5rem;}
.font-10{font-size:5.5rem;}
.font-11{font-size:6rem;}
.font-12{font-size:6.5rem;}


/*[font-weight]*/
.light-1{font-weight:100;}
.light-2{font-weight:200;}
.light-3{font-weight:300;}
.light-4{font-weight:400;}
.normal{font-weight:500;}
.bold-1{font-weight:600;}
.bold-2{font-weight:700;}
.bold-3{font-weight:800;}
.bold-4{font-weight:900;}


/*[폰트 컬러]*/
.font-red{color:var(--color-red);}
.font-pink{color:var(--color-pink);}
.font-magenta{color:var(--color-magenta);}
.font-purple{color:var(--color-purple);}
.font-indigo{color:var(--color-indigo);}
.font-blue{color:var(--color-blue);}
.font-cyan{color:var(--color-cyan);}
.font-green{color:var(--color-green);}
.font-yg{color:var(--color-yellowgreen);}
.font-yellow{color:var(--color-yellow);}
.font-orange{color:var(--color-orange);}
.font-black{color:var(--color-black);}
.font-white{color:var(--color-white);}

/*text align*/
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-vr-center{vertical-align: center;}
.text-vr-top{vertical-align: top;}
.text-vr-bottom{vertical-align: bottom;}

/*[배경색]*/
.bg-red{background-color:var(--background-red);}
.bg-pink{background-color:var(--background-pink) ;}
.bg-magenta{background-color:var(--background-magenta);}
.bg-purple{background-color: var(--background-purple);}
.bg-indigo{background-color: var(--background-indigo);}
.bg-blue{background-color: var(--background-blue);}
.bg-cyan{background-color: var(--background-cyan);}
.bg-green{background-color: var(--background-green);}
.bg-yg{background-color: var(--background-yellowgreen);}
.bg-yellow{background-color: var(--background-yellow);}
.bg-orange{background-color: var(--background-orange);}
.bg-white{background-color: var(--background-white);}
.bg-black{background-color: var(--background-black);}
/*내부요소 일괄 배경색*/
.bg-red-all > * {background-color:var(--background-red);}
.bg-pink-all > * {background-color:var(--background-pink) ;}
.bg-magenta-all > * {background-color:var(--background-magenta);}
.bg-purple-all > * {background-color: var(--background-purple);}
.bg-indigo-all > * {background-color: var(--background-indigo);}
.bg-blue-all > * {background-color: var(--background-blue);}
.bg-cyan-all > * {background-color: var(--background-cyan);}
.bg-green-all > * {background-color: var(--background-green);}
.bg-yg-all > * {background-color: var(--background-yellowgreen);}
.bg-yellow-all > * {background-color: var(--background-yellow);}
.bg-orange-all > * {background-color: var(--background-orange);}
.bg-white-all > * {background-color: var(--background-white);}
.bg-black-all > * {background-color: var(--background-black);}


/*수정사항 - 굵기, 스타일, 색깔 따로따로 다시 만들기*/
/*border color*/
.border-red{border-color: var(--color-red);}
.border-pink{border-color: var(--color-pink);}
.border-magenta{border-color: var(--color-magenta);}
.border-purple{border-color: var(--color-purple);}
.border-indigo{border-color: var(--color-indigo);}
.border-blue{border-color: var(--color-blue);}
.border-cyan{border-color: var(--color-cyan);}
.border-green{border-color: var(--color-green);}
.border-yg{border-color: var(--color-yellowgreen);}
.border-yellow{border-color: var(--color-yellow);}
.border-orange{border-color:var(--color-orange);}
.border-white{border-color: var(--color-white);}
.border-black{border-color: var(--color-black);}
/*내부요소 일괄 border color*/
.border-red-all > * {border-color: var(--color-red);}
.border-pink-all > * {border-color: var(--color-pink);}
.border-magenta-all > * {border-color: var(--color-magenta);}
.border-purple-all > * {border-color: var(--color-purple);}
.border-indigo-all > * {border-color: var(--color-indigo);}
.border-blue-all > * {border-color: var(--color-blue);}
.border-cyan-all > * {border-color: var(--color-cyan);}
.border-green-all > * {border-color: var(--color-green);}
.border-yg-all > * {border-color: var(--color-yellowgreen);}
.border-yellow-all > * {border-color: var(--color-yellow);}
.border-orange-all > * {border-color:var(--color-orange);}
.border-white-all > * {border-color: var(--color-white);}
.border-black-all > * {border-color: var(--color-black);}

/*border style*/
.border-solid{border-style: solid;}
.border-dashed{border-style: dashed;}
.border-dotted{border-style: dotted;}
.border-double{border-style: double;}
.border-groove{border-style: groove;}
.border-ridge{border-style: ridge;}
.border-inset{border-style: inset;}
.border-outset{border-style: outset;}
/*내부요소 일괄 border style*/
.border-solid-all > * {border-style: solid;}
.border-dashed-all > * {border-style: dashed;}
.border-dotted-all > * {border-style: dotted;}
.border-double-all > * {border-style: double;}
.border-groove-all > * {border-style: groove;}
.border-ridge-all > * {border-style: ridge;}
.border-inset-all > * {border-style: inset;}
.border-outset-all > * {border-style: outset;}

/*border width*/
.border-half{border-width:0.5px;}
.border-1px{border-width:1px;}
.border-2px{border-width:2px;}
.border-3px{border-width:3px;}
.border-4px{border-width:4px;}
.border-5px{border-width:5px;}
.border-6px{border-width:6px;}
.border-7px{border-width:7px;}
.border-8px{border-width:8px;}
.border-9px{border-width:9px;}
.border-10px{border-width:10px;}
.border-11px{border-width:11px;}
.border-12px{border-width:12px;}
/*내부요소 일괄 border width*/
.border-half-all > * {border-width:0.5px;}
.border-1px-all > * {border-width:1px;}
.border-2px-all > * {border-width:2px;}
.border-3px-all > * {border-width:3px;}
.border-4px-all > * {border-width:4px;}
.border-5px-all > * {border-width:5px;}
.border-6px-all > * {border-width:6px;}
.border-7px-all > * {border-width:7px;}
.border-8px-all > * {border-width:8px;}
.border-9px-all > * {border-width:9px;}
.border-10px-all > * {border-width:10px;}
.border-11px-all > * {border-width:11px;}
.border-12px-all > * {border-width:12px;}


/*border top*/
.border-top-half{border-top-width:0.5px;}
.border-top-1px{border-top-width:1px;}
.border-top-2px{border-top-width:2px;}
.border-top-3px{border-top-width:3px;}
.border-top-4px{border-top-width:4px;}
.border-top-5px{border-top-width:5px;}
.border-top-6px{border-top-width:6px;}
.border-top-7px{border-top-width:7px;}
.border-top-8px{border-top-width:8px;}
.border-top-9px{border-top-width:9px;}
.border-top-10px{border-top-width:10px;}
.border-top-11px{border-top-width:11px;}
.border-top-12px{border-top-width:12px;}
/*내부 전체 border top*/
.border-top-half-all > * {border-top-width:0.5px;}
.border-top-1px-all > * {border-top-width:1px;}
.border-top-2px-all > * {border-top-width:2px;}
.border-top-3px-all > * {border-top-width:3px;}
.border-top-4px-all > * {border-top-width:4px;}
.border-top-5px-all > * {border-top-width:5px;}
.border-top-6px-all > * {border-top-width:6px;}
.border-top-7px-all > * {border-top-width:7px;}
.border-top-8px-all > * {border-top-width:8px;}
.border-top-9px-all > * {border-top-width:9px;}
.border-top-10px-all > * {border-top-width:10px;}
.border-top-11px-all > * {border-top-width:11px;}
.border-top-12px-all > * {border-top-width:12px;}

/*border bottom*/
.border-bottom-half{border-bottom-width:0.5px;}
.border-bottom-1px{border-bottom-width:1px;}
.border-bottom-2px{border-bottom-width:2px;}
.border-bottom-3px{border-bottom-width:3px;}
.border-bottom-4px{border-bottom-width:4px;}
.border-bottom-5px{border-bottom-width:5px;}
.border-bottom-6px{border-bottom-width:6px;}
.border-bottom-7px{border-bottom-width:7px;}
.border-bottom-8px{border-bottom-width:8px;}
.border-bottom-9px{border-bottom-width:9px;}
.border-bottom-10px{border-bottom-width:10px;}
.border-bottom-11px{border-bottom-width:11px;}
.border-bottom-12px{border-bottom-width:12px;}
/*내부 전체 border bottom*/
.border-bottom-half-all > * {border-bottom-width:0.5px;}
.border-bottom-1px-all > * {border-bottom-width:1px;}
.border-bottom-2px-all > * {border-bottom-width:2px;}
.border-bottom-3px-all > * {border-bottom-width:3px;}
.border-bottom-4px-all > * {border-bottom-width:4px;}
.border-bottom-5px-all > * {border-bottom-width:5px;}
.border-bottom-6px-all > * {border-bottom-width:6px;}
.border-bottom-7px-all > * {border-bottom-width:7px;}
.border-bottom-8px-all > * {border-bottom-width:8px;}
.border-bottom-9px-all > * {border-bottom-width:9px;}
.border-bottom-10px-all > * {border-bottom-width:10px;}
.border-bottom-11px-all > * {border-bottom-width:11px;}
.border-bottom-12px-all > * {border-bottom-width:12px;}

/*border left*/
.border-left-half{border-left-width:0.5px;}
.border-left-1px{border-left-width:1px;}
.border-left-2px{border-left-width:2px;}
.border-left-3px{border-left-width:3px;}
.border-left-4px{border-left-width:4px;}
.border-left-5px{border-left-width:5px;}
.border-left-6px{border-left-width:6px;}
.border-left-7px{border-left-width:7px;}
.border-left-8px{border-left-width:8px;}
.border-left-9px{border-left-width:9px;}
.border-left-10px{border-left-width:10px;}
.border-left-11px{border-left-width:11px;}
.border-left-12px{border-left-width:12px;}
/*내부 전체 border left*/
.border-left-half-all > * {border-left-width:0.5px;}
.border-left-1px-all > * {border-left-width:1px;}
.border-left-2px-all > * {border-left-width:2px;}
.border-left-3px-all > * {border-left-width:3px;}
.border-left-4px-all > * {border-left-width:4px;}
.border-left-5px-all > * {border-left-width:5px;}
.border-left-6px-all > * {border-left-width:6px;}
.border-left-7px-all > * {border-left-width:7px;}
.border-left-8px-all > * {border-left-width:8px;}
.border-left-9px-all > * {border-left-width:9px;}
.border-left-10px-all > * {border-left-width:10px;}
.border-left-11px-all > * {border-left-width:11px;}
.border-left-12px-all > * {border-left-width:12px;}

/*border right*/
.border-right-half{border-right-width:0.5px;}
.border-right-1px{border-right-width:1px;}
.border-right-2px{border-right-width:2px;}
.border-right-3px{border-right-width:3px;}
.border-right-4px{border-right-width:4px;}
.border-right-5px{border-right-width:5px;}
.border-right-6px{border-right-width:6px;}
.border-right-7px{border-right-width:7px;}
.border-right-8px{border-right-width:8px;}
.border-right-9px{border-right-width:9px;}
.border-right-10px{border-right-width:10px;}
.border-right-11px{border-right-width:11px;}
.border-right-12px{border-right-width:12px;}
/*내부 전체 border right*/
.border-right-half-all > * {border-right-width:0.5px;}
.border-right-1px-all > * {border-right-width:1px;}
.border-right-2px-all > * {border-right-width:2px;}
.border-right-3px-all > * {border-right-width:3px;}
.border-right-4px-all > * {border-right-width:4px;}
.border-right-5px-all > * {border-right-width:5px;}
.border-right-6px-all > * {border-right-width:6px;}
.border-right-7px-all > * {border-right-width:7px;}
.border-right-8px-all > * {border-right-width:8px;}
.border-right-9px-all > * {border-right-width:9px;}
.border-right-10px-all > * {border-right-width:10px;}
.border-right-11px-all > * {border-right-width:11px;}
.border-right-12px-all > * {border-right-width:12px;}


/*[box-shadow]*/
.box-shadow{box-shadow:3px 3px 5px gray;}
/*내부 전체*/
.box-shadow-all > * {box-shadow:3px 3px 5px gray;}


/*[box-shadow-inset]*/
.box-shadow-inset{box-shadow:inset 3px 3px 5px gray;}
/*내부 전체*/
.box-shadow-inset-all > * {box-shadow:inset 3px 3px 5px gray;}


/*[text-shadow]*/
.text-shadow-black{text-shadow:3px 3px 0 gray;}
.text-shadow-red{text-shadow:3px 3px 0 var(--color-red);}
.text-shadow-pink{text-shadow:3px 3px 0 var(--color-pink);}
.text-shadow-magenta{text-shadow:3px 3px 0 var(--color-magenta);}
.text-shadow-purple{text-shadow:3px 3px 0 var(--color-purple);}
.text-shadow-indigo{text-shadow:3px 3px 0 var(--color-indigo);}
.text-shadow-blue{text-shadow:3px 3px 0 var(--color-blue);}
.text-shadow-cyan{text-shadow:3px 3px 0 var(--color-cyan);}
.text-shadow-green{text-shadow:3px 3px 0 var(--color-green);}
.text-shadow-yg{text-shadow:3px 3px 0 var(--color-yellowgreen);}
.text-shadow-yellow{text-shadow:3px 3px 0 var(--color-yellow);}
.text-shadow-orange{text-shadow:3px 3px 0 var(--color-orange);}
.text-shadow-white{text-shadow:3px 0.23px 0 var(--color-white);}


/*[border radius]*/
.radius-1{border-radius: 5px;}
.radius-2{border-radius: 8px;}
.radius-3{border-radius: 14px;}
.radius-4{border-radius: 20px;}
.radius-5{border-radius: 25px;}
.radius-round{border-radius: 50%;}
/*내부요소 일괄 radius*/
.radius-1-all > * {border-radius: 3px;}
.radius-2-all > * {border-radius: 8px;}
.radius-3-all > * {border-radius: 11px;}
.radius-4-all > * {border-radius: 16px;}
.radius-round-all > * {border-radius: 50%;}

/*[opacity]*/
.opacity-10{opacity: 1;}
.opacity-9{opacity: 0.9;}
.opacity-8{opacity: 0.8;}
.opacity-7{opacity: 0.7;}
.opacity-6{opacity: 0.6;}
.opacity-5{opacity: 0.5;}
.opacity-4{opacity: 0.4;}
.opacity-3{opacity: 0.3;}
.opacity-2{opacity: 0.2;}
.opacity-1{opacity: 0.1;}
.opacity-0{opacity: 0;}

/*[padding]*/
.pad-1{padding:1rem;}
.pad-2{padding:1.5rem;}
.pad-3{padding:2rem;}
.pad-4{padding:2.5rem;}
.pad-5{padding:3rem;}
.pad-6{padding:3.5rem;}
.pad-7{padding:4rem;}
.pad-8{padding:4.5rem;}
.pad-9{padding:5rem;}
.pad-10{padding:5.5rem;}
.pad-11{padding:6rem;}
/*내부 요소 padding*/
.pad-1-all > * {padding:1rem;}
.pad-2-all > * {padding:1.5rem;}
.pad-3-all > * {padding:2rem;}
.pad-4-all > * {padding:2.5rem;}
.pad-5-all > * {padding:3rem;}
.pad-6-all > * {padding:3.5rem;}
.pad-7-all > * {padding:4rem;}
.pad-8-all > * {padding:4.5rem;}
.pad-9-all > * {padding:5rem;}
.pad-10-all > * {padding:5.5rem;}
.pad-11-all > * {padding:6rem;}

/*padding vertical*/
.pad-vr-1{padding:1rem 0;}
.pad-vr-2{padding:1.5rem 0;}
.pad-vr-3{padding:2rem 0;}
.pad-vr-4{padding:2.5rem 0;}
.pad-vr-5{padding:3rem 0;}
.pad-vr-6{padding:3.5rem 0;}
.pad-vr-7{padding:4rem 0;}
.pad-vr-8{padding:4.5rem 0;}
.pad-vr-9{padding:5rem 0;}
.pad-vr-10{padding:5.5rem 0;}
.pad-vr-11{padding:7rem 0;}
/*내부 전체 padding vertical*/
.pad-vr-1-all > * {padding:1rem 0;}
.pad-vr-2-all > * {padding:1.5rem 0;}
.pad-vr-3-all > * {padding:2rem 0;}
.pad-vr-4-all > * {padding:2.5rem 0;}
.pad-vr-5-all > * {padding:3rem 0;}
.pad-vr-6-all > * {padding:3.5rem 0;}
.pad-vr-7-all > * {padding:4rem 0;}
.pad-vr-8-all > * {padding:4.5rem 0;}
.pad-vr-9-all > * {padding:5rem 0;}
.pad-vr-10-all > * {padding:5.5rem 0;}
.pad-vr-11-all > * {padding:7rem 0;}


/*padding horizontal*/
.pad-hr-1{padding:0 1rem;}
.pad-hr-2{padding:0 1.5rem;}
.pad-hr-3{padding:0 2rem;}
.pad-hr-4{padding:0 2.5rem;}
.pad-hr-5{padding:0 3rem;}
.pad-hr-6{padding:0 3.5rem;}
.pad-hr-7{padding:0 4rem;}
.pad-hr-8{padding:0 4.5rem;}
.pad-hr-9{padding:0 5rem;}
.pad-hr-10{padding:0 5.5rem;}
.pad-hr-11{padding:0 6rem;}
/*내부 전체 padding horizontal*/
.pad-hr-1 > * {padding:0 1rem;}
.pad-hr-2 > * {padding:0 1.5rem;}
.pad-hr-3 > * {padding:0 2rem;}
.pad-hr-4 > * {padding:0 2.5rem;}
.pad-hr-5 > * {padding:0 3rem;}
.pad-hr-6 > * {padding:0 3.5rem;}
.pad-hr-7 > * {padding:0 4rem;}
.pad-hr-8 > * {padding:0 4.5rem;}
.pad-hr-9 > * {padding:0 5rem;}
.pad-hr-10 > * {padding:0 5.5rem;}
.pad-hr-11 > * {padding:0 6rem;}

/*padding top*/
.pad-top-1{padding-top:1rem;}
.pad-top-2{padding-top:1.5rem;}
.pad-top-3{padding-top:2rem;}
.pad-top-4{padding-top:2.5rem;}
.pad-top-5{padding-top:3rem;}
.pad-top-6{padding-top:3.5rem;}
.pad-top-7{padding-top:4rem;}
.pad-top-8{padding-top:4.5rem;}
.pad-top-9{padding-top:5rem;}
.pad-top-10{padding-top:5.5rem;}
.pad-top-11{padding-top:6rem;}
/*내부 전체 padding top*/
.pad-top-1-all > * {padding-top:1rem;}
.pad-top-2-all > * {padding-top:1.5rem;}
.pad-top-3-all > * {padding-top:2rem;}
.pad-top-4-all > * {padding-top:2.5rem;}
.pad-top-5-all > * {padding-top:3rem;}
.pad-top-6-all > * {padding-top:3.5rem;}
.pad-top-7-all > * {padding-top:4rem;}
.pad-top-8-all > * {padding-top:4.5rem;}
.pad-top-9-all > * {padding-top:5rem;}
.pad-top-10-all > * {padding-top:5.5rem;}
.pad-top-11-all > * {padding-top:6rem;}

/*padding bottom*/
.pad-bottom-1{padding-bottom:1rem;}
.pad-bottom-2{padding-bottom:1.5rem;}
.pad-bottom-3{padding-bottom:2rem;}
.pad-bottom-4{padding-bottom:2.5rem;}
.pad-bottom-5{padding-bottom:3rem;}
.pad-bottom-6{padding-bottom:3.5rem;}
.pad-bottom-7{padding-bottom:4rem;}
.pad-bottom-8{padding-bottom:4.5rem;}
.pad-bottom-9{padding-bottom:5rem;}
.pad-bottom-10{padding-bottom:5.5rem;}
.pad-bottom-11{padding-bottom:6rem;}
/*내부 전체 padding bottom*/
.pad-bottom-1-all > * {padding-bottom:1rem;}
.pad-bottom-2-all > * {padding-bottom:1.5rem;}
.pad-bottom-3-all > * {padding-bottom:2rem;}
.pad-bottom-4-all > * {padding-bottom:2.5rem;}
.pad-bottom-5-all > * {padding-bottom:3rem;}
.pad-bottom-6-all > * {padding-bottom:3.5rem;}
.pad-bottom-7-all > * {padding-bottom:4rem;}
.pad-bottom-8-all > * {padding-bottom:4.5rem;}
.pad-bottom-9-all > * {padding-bottom:5rem;}
.pad-bottom-10-all > * {padding-bottom:5.5rem;}
.pad-bottom-11-all > * {padding-bottom:6rem;}

/*padding left*/
.pad-left-1{padding-left:1rem;}
.pad-left-2{padding-left:1.5rem;}
.pad-left-3{padding-left:2rem;}
.pad-left-4{padding-left:2.5rem;}
.pad-left-5{padding-left:3rem;}
.pad-left-6{padding-left:3.5rem;}
.pad-left-7{padding-left:4rem;}
.pad-left-8{padding-left:4.5rem;}
.pad-left-9{padding-left:5rem;}
.pad-left-10{padding-left:5.5rem;}
.pad-left-11{padding-left:6rem;}
/*내부 전체 padding left*/
.pad-left-1-all > * {padding-left:1rem;}
.pad-left-2-all > * {padding-left:1.5rem;}
.pad-left-3-all > * {padding-left:2rem;}
.pad-left-4-all > * {padding-left:2.5rem;}
.pad-left-5-all > * {padding-left:3rem;}
.pad-left-6-all > * {padding-left:3.5rem;}
.pad-left-7-all > * {padding-left:4rem;}
.pad-left-8-all > * {padding-left:4.5rem;}
.pad-left-9-all > * {padding-left:5rem;}
.pad-left-10-all > * {padding-left:5.5rem;}
.pad-left-11-all > * {padding-left:6rem;}

/*padding right*/
.pad-right-1{padding-right:1rem;}
.pad-right-2{padding-right:1.5rem;}
.pad-right-3{padding-right:2rem;}
.pad-right-4{padding-right:2.5rem;}
.pad-right-5{padding-right:3rem;}
.pad-right-6{padding-right:3.5rem;}
.pad-right-7{padding-right:4rem;}
.pad-right-8{padding-right:4.5rem;}
.pad-right-9{padding-right:5rem;}
.pad-right-10{padding-right:5.5rem;}
.pad-right-11{padding-right:6rem;}
/*내부 전체 padding right*/
.pad-right-1-all > * {padding-right:1rem;}
.pad-right-2-all > * {padding-right:1.5rem;}
.pad-right-3-all > * {padding-right:2rem;}
.pad-right-4-all > * {padding-right:2.5rem;}
.pad-right-5-all > * {padding-right:3rem;}
.pad-right-6-all > * {padding-right:3.5rem;}
.pad-right-7-all > * {padding-right:4rem;}
.pad-right-8-all > * {padding-right:4.5rem;}
.pad-right-9-all > * {padding-right:5rem;}
.pad-right-10-all > * {padding-right:5.5rem;}
.pad-right-11-all > * {padding-right:6rem;}


/*[margin]*/

/*just margin*/
.mar-1{margin:1rem;}
.mar-2{margin:1.5rem;}
.mar-3{margin:2rem;}
.mar-4{margin:2.5rem;}
.mar-5{margin:3rem;}
.mar-6{margin:3.5rem;}
.mar-7{margin:4rem;}
.mar-8{margin:4.5rem;}
.mar-9{margin:5rem;}
.mar-10{margin:5.5rem;}
.mar-11{margin:6rem;}
/*내부 전체 just margin*/
.mar-1-all > * {margin:1rem;}
.mar-2-all > * {margin:1.5rem;}
.mar-3-all > * {margin:2rem;}
.mar-4-all > * {margin:2.5rem;}
.mar-5-all > * {margin:3rem;}
.mar-6-all > * {margin:3.5rem;}
.mar-7-all > * {margin:4rem;}
.mar-8-all > * {margin:4.5rem;}
.mar-9-all > * {margin:5rem;}
.mar-10-all > * {margin:5.5rem;}
.mar-11-all > * {margin:6rem;}

/*padding vertical*/
.mar-vr-1{margin:1rem, 0;}
.mar-vr-2{margin:1.5rem, 0;}
.mar-vr-3{margin:2rem, 0;}
.mar-vr-4{margin:2.5rem, 0;}
.mar-vr-5{margin:3rem, 0;}
.mar-vr-6{margin:3.5rem, 0;}
.mar-vr-7{margin:4rem, 0;}
.mar-vr-8{margin:4.5rem, 0;}
.mar-vr-9{margin:5rem, 0;}
.mar-vr-10{margin:5.5rem, 0;}
.mar-vr-11{margin:7rem, 0;}
/*내부 전체 padding vertical*/
.mar-vr-1-all > * {margin:1rem, 0;}
.mar-vr-2-all > * {margin:1.5rem, 0;}
.mar-vr-3-all > * {margin:2rem, 0;}
.mar-vr-4-all > * {margin:2.5rem, 0;}
.mar-vr-5-all > * {margin:3rem, 0;}
.mar-vr-6-all > * {margin:3.5rem, 0;}
.mar-vr-7-all > * {margin:4rem, 0;}
.mar-vr-8-all > * {margin:4.5rem, 0;}
.mar-vr-9-all > * {margin:5rem, 0;}
.mar-vr-10-all > * {margin:5.5rem, 0;}
.mar-vr-11-all > * {margin:7rem, 0;}

/*padding horizontal*/
.mar-hr-1{margin:0, 1rem;}
.mar-hr-2{margin:0, 1.5rem;}
.mar-hr-3{margin:0, 2rem;}
.mar-hr-4{margin:0, 2.5rem;}
.mar-hr-5{margin:0, 3rem;}
.mar-hr-6{margin:0, 3.5rem;}
.mar-hr-7{margin:0, 4rem;}
.mar-hr-8{margin:0, 4.5rem;}
.mar-hr-9{margin:0, 5rem;}
.mar-hr-10{margin:0, 5.5rem;}
.mar-hr-11{margin:0, 6rem;}
/*내부 전체 padding horizontal*/
.mar-hr-1-all > * {margin:0, 1rem;}
.mar-hr-2-all > * {margin:0, 1.5rem;}
.mar-hr-3-all > * {margin:0, 2rem;}
.mar-hr-4-all > * {margin:0, 2.5rem;}
.mar-hr-5-all > * {margin:0, 3rem;}
.mar-hr-6-all > * {margin:0, 3.5rem;}
.mar-hr-7-all > * {margin:0, 4rem;}
.mar-hr-8-all > * {margin:0, 4.5rem;}
.mar-hr-9-all > * {margin:0, 5rem;}
.mar-hr-10-all > * {margin:0, 5.5rem;}
.mar-hr-11-all > * {margin:0, 6rem;}

/*margin center*/
.mar-center{margin:0 auto;}
.mar-center-1{margin:1rem auto;}
.mar-center-2{margin:1.5rem auto;}
.mar-center-3{margin:2rem auto;}
.mar-center-4{margin:2.5rem auto;}
.mar-center-5{margin:3rem auto;}
.mar-center-6{margin:3.5rem auto;}
.mar-center-7{margin:4rem auto;}
.mar-center-8{margin:4.5rem auto;}
.mar-center-9{margin:5rem auto;}
.mar-center-10{margin:5.5rem auto;}
.mar-center-11{margin:6rem auto;}
.mar-center-12{margin:6.5rem auto;}
.mar-center-13{margin:7rem auto;}
.mar-center-14{margin:7.5rem auto;}
.mar-center-15{margin:8rem auto;}
/*내부 전체 margin center*/
.mar-center-all > * {margin:0 auto;}
.mar-center-1-all > * {margin:1rem auto;}
.mar-center-2-all > * {margin:1.5rem auto;}
.mar-center-3-all > * {margin:2rem auto;}
.mar-center-4-all > * {margin:2.5rem auto;}
.mar-center-5-all > * {margin:3rem auto;}
.mar-center-6-all > * {margin:3.5rem auto;}
.mar-center-7-all > * {margin:4rem auto;}
.mar-center-8-all > * {margin:4.5rem auto;}
.mar-center-9-all > * {margin:5rem auto;}
.mar-center-10-all > * {margin:5.5rem auto;}
.mar-center-11-all > * {margin:6rem auto;}
.mar-center-12-all > * {margin:6.5rem auto;}
.mar-center-13-all > * {margin:7rem auto;}
.mar-center-14-all > * {margin:7.5rem auto;}
.mar-center-15-all > * {margin:8rem auto;}

/*margin top*/
.mar-top-1{margin-top:1rem;}
.mar-top-2{margin-top:1.5rem;}
.mar-top-3{margin-top:2rem;}
.mar-top-4{margin-top:2.5rem;}
.mar-top-5{margin-top:3rem;}
.mar-top-6{margin-top:3.5rem;}
.mar-top-7{margin-top:4rem;}
.mar-top-8{margin-top:4.5rem;}
.mar-top-9{margin-top:5rem;}
.mar-top-10{margin-top:5.5rem;}
.mar-top-11{margin-top:6rem;}
.mar-top-12{margin-top:6.5rem;}
.mar-top-13{margin-top:7rem;}
.mar-top-14{margin-top:7.5rem;}
.mar-top-15{margin-top:8rem;}
/*내부 전체 margin top*/
.mar-top-1-all > * {margin-top:1rem;}
.mar-top-2-all > * {margin-top:1.5rem;}
.mar-top-3-all > * {margin-top:2rem;}
.mar-top-4-all > * {margin-top:2.5rem;}
.mar-top-5-all > * {margin-top:3rem;}
.mar-top-6-all > * {margin-top:3.5rem;}
.mar-top-7-all > * {margin-top:4rem;}
.mar-top-8-all > * {margin-top:4.5rem;}
.mar-top-9-all > * {margin-top:5rem;}
.mar-top-10-all > * {margin-top:5.5rem;}
.mar-top-11-all > * {margin-top:6rem;}
.mar-top-12-all > * {margin-top:6.5rem;}
.mar-top-13-all > * {margin-top:7rem;}
.mar-top-14-all > * {margin-top:7.5rem;}
.mar-top-15-all > * {margin-top:8rem;}

/*margin bottom*/
.mar-bottom-1{margin-bottom:1rem;}
.mar-bottom-2{margin-bottom:1.5rem;}
.mar-bottom-3{margin-bottom:2rem;}
.mar-bottom-4{margin-bottom:2.5rem;}
.mar-bottom-5{margin-bottom:3rem;}
.mar-bottom-6{margin-bottom:3.5rem;}
.mar-bottom-7{margin-bottom:4rem;}
.mar-bottom-8{margin-bottom:4.5rem;}
.mar-bottom-9{margin-bottom:5rem;}
.mar-bottom-10{margin-bottom:5.5rem;}
.mar-bottom-11{margin-bottom:6rem;}
.mar-bottom-12{margin-bottom:6.5rem;}
.mar-bottom-13{margin-bottom:7rem;}
.mar-bottom-14{margin-bottom:7.5rem;}
.mar-bottom-15{margin-bottom:8rem;}
/*내부 전체 margin bottom*/
.mar-bottom-1-all > * {margin-bottom:1rem;}
.mar-bottom-2-all > * {margin-bottom:1.5rem;}
.mar-bottom-3-all > * {margin-bottom:2rem;}
.mar-bottom-4-all > * {margin-bottom:2.5rem;}
.mar-bottom-5-all > * {margin-bottom:3rem;}
.mar-bottom-6-all > * {margin-bottom:3.5rem;}
.mar-bottom-7-all > * {margin-bottom:4rem;}
.mar-bottom-8-all > * {margin-bottom:4.5rem;}
.mar-bottom-9-all > * {margin-bottom:5rem;}
.mar-bottom-10-all > * {margin-bottom:5.5rem;}
.mar-bottom-11-all > * {margin-bottom:6rem;}
.mar-bottom-12-all > * {margin-bottom:6.5rem;}
.mar-bottom-13-all > * {margin-bottom:7rem;}
.mar-bottom-14-all > * {margin-bottom:7.5rem;}
.mar-bottom-15-all > * {margin-bottom:8rem;}

/*margin left*/
.mar-left-1{margin-left:1rem;}
.mar-left-2{margin-left:1.5rem;}
.mar-left-3{margin-left:2rem;}
.mar-left-4{margin-left:2.5rem;}
.mar-left-5{margin-left:3rem;}
.mar-left-6{margin-left:3.5rem;}
.mar-left-7{margin-left:4rem;}
.mar-left-8{margin-left:4.5rem;}
.mar-left-9{margin-left:5rem;}
.mar-left-10{margin-left:5.5rem;}
.mar-left-11{margin-left:6rem;}
.mar-left-12{margin-left:6.5rem;}
.mar-left-13{margin-left:7rem;}
.mar-left-14{margin-left:7.5rem;}
.mar-left-15{margin-left:8rem;}
/*내부 전체 margin left*/
.mar-left-1-all > * {margin-left:1rem;}
.mar-left-2-all > * {margin-left:1.5rem;}
.mar-left-3-all > * {margin-left:2rem;}
.mar-left-4-all > * {margin-left:2.5rem;}
.mar-left-5-all > * {margin-left:3rem;}
.mar-left-6-all > * {margin-left:3.5rem;}
.mar-left-7-all > * {margin-left:4rem;}
.mar-left-8-all > * {margin-left:4.5rem;}
.mar-left-9-all > * {margin-left:5rem;}
.mar-left-10-all > * {margin-left:5.5rem;}
.mar-left-11-all > * {margin-left:6rem;}
.mar-left-12-all > * {margin-left:6.5rem;}
.mar-left-13-all > * {margin-left:7rem;}
.mar-left-14-all > * {margin-left:7.5rem;}
.mar-left-15-all > * {margin-left:8rem;}

/*margin right*/
.mar-right-1{margin-right:1rem;}
.mar-right-2{margin-right:1.5rem;}
.mar-right-3{margin-right:2rem;}
.mar-right-4{margin-right:2.5rem;}
.mar-right-5{margin-right:3rem;}
.mar-right-6{margin-right:3.5rem;}
.mar-right-7{margin-right:4rem;}
.mar-right-8{margin-right:4.5rem;}
.mar-right-9{margin-right:5rem;}
.mar-right-10{margin-right:5.5rem;}
.mar-right-11{margin-right:6rem;}
.mar-right-12{margin-right:6.5rem;}
.mar-right-13{margin-right:7rem;}
.mar-right-14{margin-right:7.5rem;}
.mar-right-15{margin-right:8rem;}
/*내부 전체 margin right*/
.mar-right-1-all > * {margin-right:1rem;}
.mar-right-2-all > * {margin-right:1.5rem;}
.mar-right-3-all > * {margin-right:2rem;}
.mar-right-4-all > * {margin-right:2.5rem;}
.mar-right-5-all > * {margin-right:3rem;}
.mar-right-6-all > * {margin-right:3.5rem;}
.mar-right-7-all > * {margin-right:4rem;}
.mar-right-8-all > * {margin-right:4.5rem;}
.mar-right-9-all > * {margin-right:5rem;}
.mar-right-10-all > * {margin-right:5.5rem;}
.mar-right-11-all > * {margin-right:6rem;}
.mar-right-12-all > * {margin-right:6.5rem;}
.mar-right-13-all > * {margin-right:7rem;}
.mar-right-14-all > * {margin-right:7.5rem;}
.mar-right-15-all > * {margin-right:8rem;}


/*percentage widths*/
.width-5{width:5%;}
.width-10{width:10%;}
.width-15{width:15%;}
.width-20{width:20%;}
.width-25{width:25%;}
.width-30{width:30%;}
.width-35{width:35%;}
.width-40{width:40%;}
.width-45{width:45%;}
.width-50{width:50%;}
.width-55{width:55%;}
.width-60{width:60%;}
.width-65{width:65%;}
.width-70{width:70%;}
.width-75{width:75%;}
.width-80{width:80%;}
.width-85{width:85%;}
.width-90{width:90%;}
.width-95{width:95%;}
.width-100{width:100%;}


/*[position]*/
.relative{position:relative;}
.absolute{position:absolute;}
.fixed{position:fixed;}
.sticky{position:sticky;}

/*top*/
.top-0{top:0;}
.top-5{top:5%;}
.top-10{top:10%;}
.top-15{top:15%;}
.top-20{top:20%;}
.top-25{top:25%;}
.top-30{top:30%;}
.top-35{top:35%;}
.top-40{top:40%;}
.top-45{top:45%;}
.top-50{top:50%;}
.top-55{top:55%;}
.top-60{top:60%;}
.top-65{top:65%;}
.top-70{top:70%;}
.top-75{top:75%;}
.top-80{top:80%;}
.top-85{top:85%;}
.top-90{top:90%;}
.top-95{top:95%;}
.top-100{top:100%;}
/*bottom*/
.bottom-0{bottom:0;}
.bottom-5{bottom:5%;}
.bottom-10{bottom:10%;}
.bottom-15{bottom:15%;}
.bottom-20{bottom:20%;}
.bottom-25{bottom:25%;}
.bottom-30{bottom:30%;}
.bottom-35{bottom:35%;}
.bottom-40{bottom:40%;}
.bottom-45{bottom:45%;}
.bottom-50{bottom:50%;}
.bottom-55{bottom:55%;}
.bottom-60{bottom:60%;}
.bottom-65{bottom:65%;}
.bottom-70{bottom:70%;}
.bottom-75{bottom:75%;}
.bottom-80{bottom:80%;}
.bottom-85{bottom:85%;}
.bottom-90{bottom:90%;}
.bottom-95{bottom:95%;}
.bottom-100{bottom:100%;}
/*left*/
.left-0{left:0;}
.left-5{left:5%; transform:translate(-5%)}
.left-10{left:10%; transform:translate(-10%)}
.left-15{left:15%; transform:translate(-15%)}
.left-20{left:20%; transform:translate(-20%)}
.left-25{left:25%; transform:translate(-25%)}
.left-30{left:30%; transform:translate(-30%)}
.left-35{left:35%; transform:translate(-35%)}
.left-40{left:40%; transform:translate(-40%)}
.left-45{left:45%; transform:translate(-45%)}
.left-50{left:50%; transform:translate(-50%)}
.left-55{left:55%; transform:translate(-55%)}
.left-60{left:60%; transform:translate(-60%)}
.left-65{left:65%; transform:translate(-65%)}
.left-70{left:70%; transform:translate(-70%)}
.left-75{left:75%; transform:translate(-75%)}
.left-80{left:80%; transform:translate(-80%)}
.left-85{left:85%; transform:translate(-85%)}
.left-90{left:90%; transform:translate(-90%)}
.left-95{left:95%; transform:translate(-95%)}
.left-100{left:100%; transform:translate(-100%)}
/*right*/
.right-0{right:0;}
.right-5{right:5%; transform:translate(5%)}
.right-10{right:10%; transform:translate(10%)}
.right-15{right:15%; transform:translate(15%)}
.right-20{right:20%; transform:translate(20%)}
.right-25{right:25%; transform:translate(25%)}
.right-30{right:30%; transform:translate(30%)}
.right-35{right:35%; transform:translate(35%)}
.right-40{right:40%; transform:translate(40%)}
.right-45{right:45%; transform:translate(45%)}
.right-50{right:50%; transform:translate(50%)}
.right-55{right:55%; transform:translate(55%)}
.right-60{right:60%; transform:translate(60%)}
.right-65{right:65%; transform:translate(65%)}
.right-70{right:70%; transform:translate(70%)}
.right-75{right:75%; transform:translate(75%)}
.right-80{right:80%; transform:translate(80%)}
.right-85{right:85%; transform:translate(85%)}
.right-90{right:90%; transform:translate(90%)}
.right-95{right:95%; transform:translate(95%)}
.right-100{right:100%; transform:translate(100%)}


/*[flex]*/
.flex-all-center{display:flex; justify-content: center; align-items: center;}
.flex-wrap{display:flex; flex-wrap:wrap; justify-content: left;}
.flex-wrap-reverse{display:flex; flex-wrap:wrap-reverse; justify-content: left;}

/*flex row*/
.flex-row-around{display:flex; justify-content: space-around; align-items: center;}
.flex-row-between{display:flex; justify-content: space-between; align-items: center;}
.flex-row-evenly{display:flex; justify-content: space-evenly; align-items: center;}
.flex-right{display: flex; justify-content: right; align-items: center;}
.flex-left{display: flex; align-items: center;}

/*justify content*/
.justify-center{justify-content: center;}
.justify-left{justify-content: left;}
.justify-right{justify-content: right;}

/*align items*/
.align-center{align-items: center;}
.align-start{align-items: flex-start;}
.align-end{align-items: flex-end;}

/*flex column*/
.flex-col-around{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.flex-col-between{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.flex-col-evenly{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*flex-self*/
.align-self-center{align-self: center;}
.align-self-start{align-self: flex-start;}
.align-self-end{align-self:flex-end;}
.justify-self-center{justify-self: center;}
.justify-self-left{justify-self: left;}
.justify-self-right{justify-self: right;}

/*flex-col*/
.flex-col-auto > * {width: auto;}
.flex-col-1 > * {flex:0 0 auto; width: 100%;}
.flex-col-2 > * {width: 45%;}
.flex-col-3 > * {width: 30%;}
.flex-col-4 > * {width: 23%;}
.flex-col-5 > * {width: 18%;}
.flex-col-6 > * {width: 16%;}

/*flex col 태블릿 가로 이하부터*/ 
@media (max-width:1023px){ 
    .flex-col-auto > * {width: auto;}
    .flex-col-1 > * {flex:0 0 auto; width: 100%;}
    .flex-col-2 > * {width: 45%;}
    .flex-col-3 > * {width: 30;}
    .flex-col-4 > * {width: 30;}
    .flex-col-5 > * {width: 30;}
    .flex-col-6 > * {width: 18;}
} 
  
/* 태블릿 세로 이하부터*/ 
  @media (max-width:768px){ 
    .flex-col-2 > * {width: 45%;}
    .flex-col-3 > * {width: 45%;}
    .flex-col-4 > * {width: 45%;}
    .flex-col-5 > * {width: 30%;}
    .flex-col-6 > * {width: 30%;}
} 
  
  /* 모바일 가로 이하부터*/ 
  @media (max-width:480px){
    .flex-col-2 > * {width: 45%;}
    .flex-col-3 > * {width: 45%;}
    .flex-col-4 > * {width: 45%;}
    .flex-col-5 > * {width: 45%;}
    .flex-col-6 > * {width: 45%;}
} 
  
  /* 모바일 세로 이하부터*/ 
  @media (max-width:479px){
    .flex-col-2 > * {width: 100%;}
    .flex-col-3 > * {width: 100%;}
    .flex-col-4 > * {width: 100%;}
    .flex-col-5 > * {width: 100%;}
    .flex-col-6 > * {width: 100%;}
}



/*order*/
.order-1{order:1;}
.order-2{order:2;}
.order-3{order:3;}
.order-4{order:4;}
.order-5{order:5;}
.order-6{order:6;}
.order-7{order:7;}
.order-8{order:8;}
.order-9{order:9;}
.order-10{order:10;}
.order-11{order:11;}
.order-12{order:12;}
.order-13{order:13;}
.order-14{order:14;}
.order-15{order:15;}
.order-16{order:16;}
.order-17{order:17;}
.order-18{order:18;}
.order-19{order:19;}
.order-20{order:20;}


/*flex-grow*/
.grow-1{flex-grow:1;}
.grow-2{flex-grow:2;}
.grow-3{flex-grow:3;}
.grow-4{flex-grow:4;}
.grow-5{flex-grow:5;}
.grow-6{flex-grow:6;}
.grow-7{flex-grow:7;}
/*내부요소 flex grow (전부 일정하게 채우기)*/
.grow-all > * {flex-grow:1;}


/*[grid]*/
/*grid는 레이아웃 고정 시에 사용 (반응형은 flex로)*/
/*grid column*/
.grid-col-2{display:grid; grid-template-columns:repeat(2, 1fr);}
.grid-col-3{display:grid; grid-template-columns:repeat(3, 1fr);}
.grid-col-4{display:grid; grid-template-columns:repeat(4, 1fr);}
.grid-col-5{display:grid; grid-template-columns:repeat(5, 1fr);}
.grid-col-6{display:grid; grid-template-columns:repeat(6, 1fr);}
/*grid row*/
.grid-row-2{display:grid; grid-template-rows:repeat(2, 1fr);}
.grid-row-3{display:grid; grid-template-rows:repeat(3, 1fr);}
.grid-row-4{display:grid; grid-template-rows:repeat(4, 1fr);}
.grid-row-5{display:grid; grid-template-rows:repeat(5, 1fr);}
.grid-row-6{display:grid; grid-template-rows:repeat(6, 1fr);}

/*[gap]*/
.gap-1{gap:0.5rem;}
.gap-2{gap:1rem;}
.gap-3{gap:1.5rem;}
.gap-4{gap:2rem;}
.gap-5{gap:2.5rem;}
.gap-6{gap:3rem;}
.gap-7{gap:3.5rem;}
.gap-8{gap:4rem;}
/*row-gap*/
.row-gap1{row-gap:0.5rem;}
.row-gap2{row-gap:1rem;}
.row-gap3{row-gap:1.5rem;}
.row-gap4{row-gap:2rem;}
.row-gap5{row-gap:2.5rem;}
.row-gap6{row-gap:3rem;}
.row-gap7{row-gap:3.5rem;}
.row-gap8{row-gap:4rem;}
/*column-gap*/
.column-gap1{column-gap:0.5rem;}
.column-gap2{column-gap:1rem;}
.column-gap3{column-gap:1.5rem;}
.column-gap4{column-gap:2rem;}
.column-gap5{column-gap:2.5rem;}
.column-gap6{column-gap:3rem;}
.column-gap7{column-gap:3.5rem;}
.column-gap8{column-gap:4rem;}


/*[border-spacing]*/
.border-spacing1{border-spacing: 0.5rem;}
.border-spacing2{border-spacing: 1rem;}
.border-spacing3{border-spacing: 1.5rem;}
.border-spacing4{border-spacing: 2rem;}
.border-spacing5{border-spacing: 2.5rem;}
.border-spacing6{border-spacing: 3rem;}
.border-spacing7{border-spacing: 3.5rem;}
.border-spacing8{border-spacing: 4rem;}

/*border collapse*/
.collapse{border-collapse: collapse;}
.collapse-off{border-collapse: separate;}


/*[display]*/
.block{display:block;}
.show{display:block;}
.inline{display:inline;}
.inline-block{display:inline-block;}
.hide{display:none;}
.none{display:none;}
.flex{display:flex;}
.grid{display:grid;}


/*[list style type]*/
.list-none{list-style-type: none;}
.list-disc{list-style-type: disc;}
.list-armenian{list-style-type:armenian;}
.list-circle{list-style-type:circle;}
.list-square{list-style-type:square;}
.list-alpha{list-style-type:lower-alpha;}
.list-greek{list-style-type:lower-greek;}
.list-latin{list-style-type:lower-latin;}
.list-roman{list-style-type:lower-roman;}
.list-georgian{list-style-type:georgian;}
.list-decimal{list-style-type:decimal;}
.list-decimal-zero{list-style-type:decimal-leading-zero;}


/*img position*/
.img-cover{object-fit: cover;}
.img-contain{object-fit: contain;}
.img-fill{object-fit: fill;}


/*[z-index]*/
.z-index-1{z-index:1;}
.z-index-2{z-index:2;}
.z-index-3{z-index:3;}
.z-index-4{z-index:4;}
.z-index-5{z-index:5;}
.z-index-6{z-index:6;}
.z-index-7{z-index:7;}
.z-index-8{z-index:8;}
.z-index-9{z-index:9;}
.z-index-10{z-index:10;}




/*화면비가 줄어들면 꺼지도록*/

/* 태블릿 가로 이하부터 사라짐 */ 
@media (max-width:1023px){ 
    .tablet-horizon-off{display:none;}
} 
  
/* 태블릿 세로 이하부터 사라짐*/ 
  @media (max-width:768px){ 
    .tablet-vertical-off{display:none;}
} 
  
  /* 모바일 가로 이하부터 사라짐*/ 
  @media (max-width:480px){
    .phone-horizon-off{display:none;}
} 
  
  /* 모바일 세로 이하부터 사라짐*/ 
  @media (max-width:479px){
    .phone-vertical-off{display:none;}
}


/*특정 화면크기에서만 나타남*/

/* 태블릿 가로 이상부터 나타남 */ 
@media (max-width:1023px){ 
    .tablet-horizon-on{display:block;}
} 
  
/* 태블릿 세로 이상부터 나타남*/ 
  @media (max-width:768px){ 
    .tablet-vertical-on{display:block;}
} 
  
  /* 모바일 가로 이상부터 나타남*/ 
  @media (max-width:480px){
    .phone-horizon-on{display:block;}
} 
  
  /* 모바일 세로 이상부터 나타남*/ 
  @media (max-width:479px){
    .phone-vertical-on{display:block;}
}