*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

table{
    border-collapse: collapse;
    margin:100px auto;
}

.picture{
    width:150px;
    height:150px;
    border:2px dashed pink;
    font-size:40px;
    text-align: center;
    color:gray;
}

