@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

:root{
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

img{width:100%; object-fit: cover; user-select:none;}

h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu', sans-serif;
}

h5{ line-height:35px;}

#wrap{width:1000px;}
.goBt{
    color:white; border:none; border-radius: 150px;
    padding:10px 20px; font-size:18px;
    background:rgba(0,0,0,0.3); cursor:pointer;
    transition:background 0.5s ease;
}
.goBt:hover{ background:rgba(0,0,0,0.5); }

.border-right-all > * { border-right:1px solid white; }


/*작은 화면 슬라이드 메뉴*/
#slide_menu{left:-300px; transition:left 0.5s ease;}
.border-bottom-all > * {border-bottom:1px solid black}
#darkBg{background:rgba(0,0,0,0.2)}
#slide_setBox{position:absolute; right:1em; bottom:20px;}
.bi-list{cursor:pointer;}
#slide_menu_items a{
    display:inline-block; width:100%;
    font-weight:800;
}


/*네비게이션 바*/
#nav {width:1200px;}
#menu_wrap ul li{border-right:2px solid gray}
#menu_wrap ul li:last-child{border:none;}
#menu_wrap ul li:hover{
    text-decoration:underline;
    text-underline-offset: 5px;
}


/*슬라이드쇼 배너*/
#banner{overflow:hidden; width:100%; height:400px}
#slideBox{left:0; transition:left 1s ease-in-out}
.slideImg{width:1000px; height:400px;}
.slideImg img{width:100%; height:100%; object-fit:cover;}
#slideBt{height:100%;}
#slideBt i{height:100%; display:flex; align-items: center; z-index:2;}
#dotIndex{
    background:rgba(0,0,0,0.3);
    width:180px; height:40px; bottom:-340px;
}
#dotIndex .idxDot{
    background:rgba(0,0,0,0.3);
    width:10px; height:10px;
}
.bannerNav{background:rgba(0,0,0,0.3); color:white;}
#slideBt i:hover{ background:rgba(0,0,0,0.2);}
#slideBt i:active{ background:rgba(0,0,0,0.5);}
.bannerNav:hover{ background:rgba(0,0,0,0.5); }


/*이벤트 타이틀*/
#eventTitle{ margin:80px auto;}
.hover-with-dot {
    position: relative;
    padding-top: 20px; /* 상단에 점이 뜨는 공간을 확보하기 위해 padding 추가 */
    cursor: pointer;
}
.hover-with-dot::after {
    content: '•';
    position: absolute;
    top: -3px; left: 50%;
    transform: translateX(-50%);
    font-size: 24px; color: black;
    opacity: 0; transition: opacity 0.5s ease;
}
.hover-with-dot:hover::after {
    opacity: 1;
}


/*쇼케이스*/
#showCase{ width:100%; height:700px; margin:80px auto;}
.showCase{
    border-radius: 15px;
    width:26%; height:360px; flex-grow:1; padding:20px;
}
.showCase > * {padding:13px 0;}
.showCaseImg_box{
    padding:0;
    width:100%; height:160px;
    border-radius: 15px;  overflow:hidden;
}
.showCaseImg{
    object-fit: cover;
    width:100%; height:100%;
}


/*베스트셀러*/
#bsImgWrap{
    padding: 20px;;
    height:800px;
    background:url("https://cdn.pixabay.com/photo/2021/08/21/06/05/beautiful-girl-6561873_1280.jpg");
    background-attachment: fixed;
    border-radius: 30px;
}
.bsImgBox{
    width:30%; height:360px;
    border-radius: 30px;  overflow:hidden;
}
.bsImgBox:hover{transform: scale(1.1); transition:transform 0.5s ease}
.plusBt{width:40px; height:40px; background: rgba(0,0,0,0.4);}


/*추천상품*/
.sectionTitle > * {
    margin-bottom:25px;
}
.picks{
    height:370px; padding:18px;
    display:flex; flex-direction:column;
    border:1px solid transparent; border-radius: 10px;
}
.picks:last-child{position:relative;}
.picks > * {padding:10px 0;}
.picks .picksImg_box{
    padding:0; width:100%; height:100%;
}
.picksImg{object-fit:cover; width:100%; height:100%;}
#cardNav{
    background:rgba(0,0,0,0.3);
    border-radius: 20px;
    height:34px; backdrop-filter: blur(7px);
}
#cardL, #cardR{ line-height: 36px; }

/*포인트 관련 이벤트*/
#cardSlide{transition:left 1s ease-in-out}
.cardIdx{align-items: center;}
.cardDetail{backdrop-filter: blur(4px);}
.cardDetail > div {padding-right:24px;}

/*footer*/
#footer{background:rgba(0,0,0,0.85);}
#footerContents{width:1000px; height:100%;}
#quickMenuOpen{ border-bottom:2px solid white; }
#quickMenuItems{
    background:rgba(0,0,0,0.3); 
    backdrop-filter: blur(8px);
}
#quickMenuItems li:hover { background:rgba(0,0,0,0.4);}

