*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 0; */
    font-size: 100%;
    font-family: inherit;
    vertical-align: center;
    word-break: break-word; /*자동 줄바꿈시 단어 단위로 끊게*/
}

:root{
    scroll-behavior: smooth;
    font-size:16px; /*em 사이즈 조절 축*/
    
    /*color palette*/

    --black:#000000;
    --white:#fff;

    --red100:#FFE4D6;
    --red200:#FFC2AD;
    --red300:#FF9984;
    --red400:#FF7366;
    --red500:#FF3333;
    --red600:#DB2535;
    --red700:#B71935;
    --red800:#931032;
    --red900:#7A0930;

    --yellow100:#FFFAD6;
    --yellow200:#FFF4AD;
    --yellow300:#FFED84;
    --yellow400:#FFE666;
    --yellow500:#FFDA33;
    --yellow600:#DBB625;
    --yellow700:#B79519;
    --yellow800:#937410;
    --yellow900:#7A5D09;

    --blue100:#D6E4FF;
    --blue200:#ADC8FF;
    --blue300:#84A9FF;
    --blue400:#6690FF;
    --blue500:#3366FF;
    --blue600:#254EDB;
    --blue700:#1939B7;
    --blue800:#102693;
    --blue900:#091A7A;

    --orange100:#FEF1CF;
    --orange200:#FEDEA0;
    --orange300:#FCC770;
    --orange400:#FAAF4D;
    --orange500:#F88A13;
    --orange600:#D56B0D;
    --orange700:#B25109;
    --orange800:#8F3906;
    --orange900:#772903;

    --green100:#CFFED0;
    --green200:#A0FEAC;
    --green300:#70FC90;
    --green400:#4DFA86;
    --green500:#13F875;
    --green600:#0DD577;
    --green700:#09B273;
    --green800:#068F6A;
    --green900:#037763;

    --cyan100:#CFFEEF;
    --cyan200:#A0FEE7;
    --cyan300:#70FCE7;
    --cyan400:#4DFAEE;
    --cyan500:#13F4F8;
    --cyan600:#0DC0D5;
    --cyan700:#0992B2;
    --cyan800:#066A8F;
    --cyan900:#034D77;

    --purple100:#FECFFC;
    --purple200:#FBA0FE;
    --purple300:#EE70FC;
    --purple400:#DC4DFA;
    --purple500:#C013F8;
    --purple600:#960DD5;
    --purple700:#7109B2;
    --purple800:#50068F;
    --purple900:#390377;

    --gray100:#F2F2F2;
    --gray200:#E5E5E5;
    --gray300:#B2B2B2;
    --gray400:#666666;
    --gray500:#000000;

    --blue-gray100:#F6F8F9;
    --blue-gray200:#EEF2F4;
    --blue-gray300:#D6DCDF;
    --blue-gray400:#B7BCC0;
    --blue-gray500:#8D9297;
    --blue-gray600:#677381;
    --blue-gray700:#47566C;
    --blue-gray800:#2C3B57;
    --blue-gray900:#1B2848;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
    font-weight:400;
    line-height:1;
    -webkit-text-size-adjust: 100%;
}

::before, ::after {
    text-decoration: inherit;
    vertical-align: inherit;
}

h1, .h1{font-size: 2.5rem; font-weight:900;}
h2, .h2{font-size: 2rem; font-weight:900;}
h3, .h3{font-size: 1.75rem; font-weight:900;}
h4, .h4{font-size: 1.5rem; font-weight:900;}
h5, .h5{font-size: 1.25rem; font-weight:900;}
h6, .h6{font-size: 1rem; font-weight:900;}

nav ol,
nav ul,
ol ol,
ol ul,
ul ol,
ul ul,
li{
    list-style-type: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input:focus{
    outline: none;
    appearance: none;
    border-radius: none;
    -webkit-appearance: none;
    -webkit-border-radius:none;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

button:focus{
    outline:none;
}

a{
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

b, strong {
  font-weight: bolder;
}

a {
    background-color: transparent;
}

small {
    font-size: 80%;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

iframe, img {
    border-style: none;
}

select {
    text-transform: none;
}

canvas {
    display: inline-block;
}


/*[containers]*/
.con-xs{max-width:900px;}
.con-s{max-width:1000px;}
.con-l{max-width:1100px;}
.con-xl{max-width:1200px;}


/*[font-size]*/
.font-half{font-size:0.5rem;}
.font-1{font-size:1rem;}
.font-2{font-size:1.5rem;}
.font-3{font-size:2rem;}
.font-4{font-size:2.5rem;}
.font-5{font-size:3rem;}
.font-6{font-size:3.5rem;}
.font-7{font-size:4rem;}
.font-8{font-size:4.5rem;}
.font-9{font-size:5rem;}
.font-10{font-size:5.5rem;}
.font-11{font-size:6rem;}
.font-12{font-size:6.5rem;}


/*[font-weight]*/
.font-light-1{font-weight:100;}
.font-light-2{font-weight:200;}
.font-light-3{font-weight:300;}
.font-light-4{font-weight:400;}
.font-regular{font-weight:500;}
.font-bold-1{font-weight:600;}
.font-bold-2{font-weight:700;}
.font-bold-3{font-weight:800;}
.font-bold-4{font-weight:900;}


/*[폰트 컬러]*/
.font-black{color:var(--black);}
.font-white{color:var(--white);}

.font-red{color:var(--red600);}
.font-yellow{color:var(--yellow500);}
.font-blue{color:var(--blue600);}
.font-orange{color:var(--orange500);}
.font-green{color:var(--green600);}
.font-purple{color:var(--purple600);}
.font-blue-gray{color:var(--blue-gray600);}
.font-gray{color:var(--gray400);}

/*text align*/
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-vr-center{vertical-align: center;}
.text-vr-top{vertical-align: top;}
.text-vr-bottom{vertical-align: bottom;}

/*[배경색]*/
.bg-black{background-color:var(--black);}
.bg-white{background-color:var(--white);}

.bg-pink{background-color:var(--red400);}
.bg-red{background-color:var(--red500);}
.bg-yellow{background-color:var(--yellow500);}
.bg-blue{background-color:var(--blue600);}
.bg-orange{background-color:var(--orange500);}
.bg-green{background-color:var(--green700);}
.bg-purple{background-color:var(--purple600);}
.bg-blue-gray{background-color:var(--blue-gray500);}
.bg-gray{background-color:var(--gray400);}
.bg-black{background-color:var(--gray500);}


/*내부요소 일괄 배경색*/
.bg-pink-all > * {background-color:var(--red400);}
.bg-red-all > * {background-color:var(--red500);}
.bg-yellow-all > * {background-color:var(--yellow500);}
.bg-blue-all > * {background-color:var(--blue600);}
.bg-orange-all > * {background-color:var(--orange500);}
.bg-green-all > * {background-color:var(--green700);}
.bg-purple-all > * {background-color:var(--purple600);}
.bg-blue-gray-all > * {background-color:var(--blue-gray500);}
.bg-gray-all > * {background-color:var(--gray400);}
.bg-black-all > * {background-color:var(--gray500);}


/*수정사항 - 굵기, 스타일, 색깔 따로따로 다시 만들기*/
/*border color*/
.border-black{border-color:var(--black);}
.border-white{border-color:var(--white);}

.border-red100{border-color:var(--red100);}
.border-red200{border-color:var(--red200);}
.border-red300{border-color:var(--red300);}
.border-red400{border-color:var(--red400);}
.border-red500{border-color:var(--red500);}
.border-red600{border-color:var(--red600);}
.border-red700{border-color:var(--red700);}
.border-red800{border-color:var(--red800);}
.border-red900{border-color:var(--red900);}

.border-yellow100{border-color:var(--yellow100);}
.border-yellow200{border-color:var(--yellow200);}
.border-yellow300{border-color:var(--yellow300);}
.border-yellow400{border-color:var(--yellow400);}
.border-yellow500{border-color:var(--yellow500);}
.border-yellow600{border-color:var(--yellow600);}
.border-yellow700{border-color:var(--yellow700);}
.border-yellow800{border-color:var(--yellow800);}
.border-yellow900{border-color:var(--yellow900);}

.border-blue100{border-color:var(--blue100);}
.border-blue200{border-color:var(--blue200);}
.border-blue300{border-color:var(--blue300);}
.border-blue400{border-color:var(--blue400);}
.border-blue500{border-color:var(--blue500);}
.border-blue600{border-color:var(--blue600);}
.border-blue700{border-color:var(--blue700);}
.border-blue800{border-color:var(--blue800);}
.border-blue900{border-color:var(--blue900);}

.border-orange100{border-color:var(--orange100);}
.border-orange200{border-color:var(--orange200);}
.border-orange300{border-color:var(--orange300);}
.border-orange400{border-color:var(--orange400);}
.border-orange500{border-color:var(--orange500);}
.border-orange600{border-color:var(--orange600);}
.border-orange700{border-color:var(--orange700);}
.border-orange800{border-color:var(--orange800);}
.border-orange900{border-color:var(--orange900);}

.border-green100{border-color:var(--green100);}
.border-green200{border-color:var(--green200);}
.border-green300{border-color:var(--green300);}
.border-green400{border-color:var(--green400);}
.border-green500{border-color:var(--green500);}
.border-green600{border-color:var(--green600);}
.border-green700{border-color:var(--green700);}
.border-green800{border-color:var(--green800);}
.border-green900{border-color:var(--green900);}

.border-purple100{border-color:var(--purple100);}
.border-purple200{border-color:var(--purple200);}
.border-purple300{border-color:var(--purple300);}
.border-purple400{border-color:var(--purple400);}
.border-purple500{border-color:var(--purple500);}
.border-purple600{border-color:var(--purple600);}
.border-purple700{border-color:var(--purple700);}
.border-purple800{border-color:var(--purple800);}
.border-purple900{border-color:var(--purple900);}

.border-blue-gray100{border-color:var(--blue-gray100);}
.border-blue-gray200{border-color:var(--blue-gray200);}
.border-blue-gray300{border-color:var(--blue-gray300);}
.border-blue-gray400{border-color:var(--blue-gray400);}
.border-blue-gray500{border-color:var(--blue-gray500);}
.border-blue-gray600{border-color:var(--blue-gray600);}
.border-blue-gray700{border-color:var(--blue-gray700);}
.border-blue-gray800{border-color:var(--blue-gray800);}
.border-blue-gray900{border-color:var(--blue-gray900);}

.border-gray100{border-color:var(--gray100);}
.border-gray200{border-color:var(--gray200);}
.border-gray300{border-color:var(--gray300);}
.border-gray400{border-color:var(--gray400);}
.border-gray500{border-color:var(--gray500);}

/*내부요소 일괄 border color*/
.border-black-all > * {border-color:var(--black);}
.border-white-all > * {border-color:var(--white);}

.border-red100-all > * {border-color:var(--red100);}
.border-red200-all > * {border-color:var(--red200);}
.border-red300-all > * {border-color:var(--red300);}
.border-red400-all > * {border-color:var(--red400);}
.border-red500-all > * {border-color:var(--red500);}
.border-red600-all > * {border-color:var(--red600);}
.border-red700-all > * {border-color:var(--red700);}
.border-red800-all > * {border-color:var(--red800);}
.border-red900-all > * {border-color:var(--red900);}

.border-yellow100-all > * {border-color:var(--yellow100);}
.border-yellow200-all > * {border-color:var(--yellow200);}
.border-yellow300-all > * {border-color:var(--yellow300);}
.border-yellow400-all > * {border-color:var(--yellow400);}
.border-yellow500-all > * {border-color:var(--yellow500);}
.border-yellow600-all > * {border-color:var(--yellow600);}
.border-yellow700-all > * {border-color:var(--yellow700);}
.border-yellow800-all > * {border-color:var(--yellow800);}
.border-yellow900-all > * {border-color:var(--yellow900);}

.border-blue100-all > * {border-color:var(--blue100);}
.border-blue200-all > * {border-color:var(--blue200);}
.border-blue300-all > * {border-color:var(--blue300);}
.border-blue400-all > * {border-color:var(--blue400);}
.border-blue500-all > * {border-color:var(--blue500);}
.border-blue600-all > * {border-color:var(--blue600);}
.border-blue700-all > * {border-color:var(--blue700);}
.border-blue800-all > * {border-color:var(--blue800);}
.border-blue900-all > * {border-color:var(--blue900);}

.border-orange100-all > * {border-color:var(--orange100);}
.border-orange200-all > * {border-color:var(--orange200);}
.border-orange300-all > * {border-color:var(--orange300);}
.border-orange400-all > * {border-color:var(--orange400);}
.border-orange500-all > * {border-color:var(--orange500);}
.border-orange600-all > * {border-color:var(--orange600);}
.border-orange700-all > * {border-color:var(--orange700);}
.border-orange800-all > * {border-color:var(--orange800);}
.border-orange900-all > * {border-color:var(--orange900);}

.border-green100-all > * {border-color:var(--green100);}
.border-green200-all > * {border-color:var(--green200);}
.border-green300-all > * {border-color:var(--green300);}
.border-green400-all > * {border-color:var(--green400);}
.border-green500-all > * {border-color:var(--green500);}
.border-green600-all > * {border-color:var(--green600);}
.border-green700-all > * {border-color:var(--green700);}
.border-green800-all > * {border-color:var(--green800);}
.border-green900-all > * {border-color:var(--green900);}

.border-purple100-all > * {border-color:var(--purple100);}
.border-purple200-all > * {border-color:var(--purple200);}
.border-purple300-all > * {border-color:var(--purple300);}
.border-purple400-all > * {border-color:var(--purple400);}
.border-purple500-all > * {border-color:var(--purple500);}
.border-purple600-all > * {border-color:var(--purple600);}
.border-purple700-all > * {border-color:var(--purple700);}
.border-purple800-all > * {border-color:var(--purple800);}
.border-purple900-all > * {border-color:var(--purple900);}

.border-blue-gray100-all > * {border-color:var(--blue-gray100);}
.border-blue-gray200-all > * {border-color:var(--blue-gray200);}
.border-blue-gray300-all > * {border-color:var(--blue-gray300);}
.border-blue-gray400-all > * {border-color:var(--blue-gray400);}
.border-blue-gray500-all > * {border-color:var(--blue-gray500);}
.border-blue-gray600-all > * {border-color:var(--blue-gray600);}
.border-blue-gray700-all > * {border-color:var(--blue-gray700);}
.border-blue-gray800-all > * {border-color:var(--blue-gray800);}
.border-blue-gray900-all > * {border-color:var(--blue-gray900);}

.border-gray100-all > * {border-color:var(--gray100);}
.border-gray200-all > * {border-color:var(--gray200);}
.border-gray300-all > * {border-color:var(--gray300);}
.border-gray400-all > * {border-color:var(--gray400);}
.border-gray500-all > * {border-color:var(--gray500);}

/*border preset*/
.border-solid{border:1px solid black;}
.border-dashed{border:1px dashed black;}
.border-double{border:1px double black;}
.border-dotted{border:1px dotted black;}
.border-button{
    border-right:0.4em solid rgba(0, 0, 0, 0.2);
    border-bottom:0.4em solid rgba(0, 0, 0, 0.2);
}

.border-solid-all > * {border:1px solid black;}
.border-dashed-all > * {border:1px dashed black;}
.border-double-all > * {border:1px double black;}
.border-dotted-all > * {border:1px dotted black;}
.border-button-all > * {
    border-right:0.4em solid rgba(0, 0, 0, 0.2);
    border-bottom:0.4em solid rgba(0, 0, 0, 0.2);
}


/*[box-shadow]*/
.box-shadow-in{box-shadow:inset 3px 3px 11px rgba(0,0,0,0.4);}
.box-shadow-in-around{box-shadow:inset 0 0 25px rgba(0,0,0,0.4);}
.box-shadow-out{box-shadow:3px 3px 11px rgba(0,0,0,0.4);}
.box-shadow-out-around{box-shadow:0 0 25px rgba(0,0,0,0.4);}
.box-shadow-inout{
    box-shadow:3px 3px 11px rgba(0,0,0,0.4),
    inset 3px 3px 11px rgba(0,0,0,0.4);
}
.box-shadow-inout-around{box-shadow:
    0 0 25px rgba(0,0,0,0.4),
    inset 0 0 25px rgba(0,0,0,0.4)}
/*내부 전체*/
.box-shadow-in-all > * {box-shadow:inset 3px 3px 11px rgba(0,0,0,0.4);}
.box-shadow-in-around-all > * {box-shadow:inset 0 0 25px rgba(0,0,0,0.4);}
.box-shadow-out-all > * {box-shadow:3px 3px 11px rgba(0,0,0,0.4);}
.box-shadow-out-around-all > * {box-shadow:0 0 25px rgba(0,0,0,0.4);}
.box-shadow-inout-all > * {
    box-shadow:3px 3px 11px rgba(0,0,0,0.4),
    inset 3px 3px 11px rgba(0,0,0,0.4);
}
.box-shadow-inout-around-all > * {box-shadow:
    0 0 25px rgba(0,0,0,0.4),
    inset 0 0 25px rgba(0,0,0,0.4)}


/*[text-shadow]*/
/* .text-shadow-black{text-shadow:3px 3px 0 gray;}
.text-shadow-red{text-shadow:3px 3px 0 var(--color-red);}
.text-shadow-pink{text-shadow:3px 3px 0 var(--color-pink);}
.text-shadow-magenta{text-shadow:3px 3px 0 var(--color-magenta);}
.text-shadow-purple{text-shadow:3px 3px 0 var(--color-purple);}
.text-shadow-indigo{text-shadow:3px 3px 0 var(--color-indigo);}
.text-shadow-blue{text-shadow:3px 3px 0 var(--color-blue);}
.text-shadow-cyan{text-shadow:3px 3px 0 var(--color-cyan);}
.text-shadow-green{text-shadow:3px 3px 0 var(--color-green);}
.text-shadow-yg{text-shadow:3px 3px 0 var(--color-yellowgreen);}
.text-shadow-yellow{text-shadow:3px 3px 0 var(--color-yellow);}
.text-shadow-orange{text-shadow:3px 3px 0 var(--color-orange);}
.text-shadow-white{text-shadow:3px 0.23px 0 var(--color-white);} */


/*[border radius]*/
.radius-1{border-radius: 5px;}
.radius-2{border-radius: 8px;}
.radius-3{border-radius: 14px;}
.radius-4{border-radius: 20px;}
.radius-5{border-radius: 25px;}
.radius-round{border-radius: 50%;}
/*내부요소 일괄 radius*/
.radius-1-all > * {border-radius: 3px;}
.radius-2-all > * {border-radius: 8px;}
.radius-3-all > * {border-radius: 11px;}
.radius-4-all > * {border-radius: 16px;}
.radius-round-all > * {border-radius: 50%;}

/*[opacity]*/
.opacity-10{opacity: 1;}
.opacity-9{opacity: 0.9;}
.opacity-8{opacity: 0.8;}
.opacity-7{opacity: 0.7;}
.opacity-6{opacity: 0.6;}
.opacity-5{opacity: 0.5;}
.opacity-4{opacity: 0.4;}
.opacity-3{opacity: 0.3;}
.opacity-2{opacity: 0.2;}
.opacity-1{opacity: 0.1;}
.opacity-0{opacity: 0;}

/*[padding]*/
.pad-half{padding:0.5em;}
.pad-1{padding:1em;}
.pad-2{padding:1.5em;}
.pad-3{padding:2em;}
.pad-4{padding:2.5em;}
.pad-5{padding:3em;}
.pad-6{padding:3.5em;}
.pad-7{padding:4em;}
.pad-8{padding:4.5em;}
.pad-9{padding:5em;}
.pad-10{padding:5.5em;}
.pad-11{padding:6em;}
/*내부 요소 padding*/
.pad-half-all > * {padding:0.5em;}
.pad-1-all > * {padding:1em;}
.pad-2-all > * {padding:1.5em;}
.pad-3-all > * {padding:2em;}
.pad-4-all > * {padding:2.5em;}
.pad-5-all > * {padding:3em;}
.pad-6-all > * {padding:3.5em;}
.pad-7-all > * {padding:4em;}
.pad-8-all > * {padding:4.5em;}
.pad-9-all > * {padding:5em;}
.pad-10-all > * {padding:5.5em;}
.pad-11-all > * {padding:6em;}

/*padding vertical*/
.pad-vr-half{padding:0.5em 0;}
.pad-vr-1{padding:1em 0;}
.pad-vr-2{padding:1.5em 0;}
.pad-vr-3{padding:2em 0;}
.pad-vr-4{padding:2.5em 0;}
.pad-vr-5{padding:3em 0;}
.pad-vr-6{padding:3.5em 0;}
.pad-vr-7{padding:4em 0;}
.pad-vr-8{padding:4.5em 0;}
.pad-vr-9{padding:5em 0;}
.pad-vr-10{padding:5.5em 0;}
.pad-vr-11{padding:7em 0;}
/*내부 전체 padding vertical*/
.pad-vr-half-all > * {padding:0.5em 0;}
.pad-vr-1-all > * {padding:1em 0;}
.pad-vr-2-all > * {padding:1.5em 0;}
.pad-vr-3-all > * {padding:2em 0;}
.pad-vr-4-all > * {padding:2.5em 0;}
.pad-vr-5-all > * {padding:3em 0;}
.pad-vr-6-all > * {padding:3.5em 0;}
.pad-vr-7-all > * {padding:4em 0;}
.pad-vr-8-all > * {padding:4.5em 0;}
.pad-vr-9-all > * {padding:5em 0;}
.pad-vr-10-all > * {padding:5.5em 0;}
.pad-vr-11-all > * {padding:7em 0;}


/*padding horizontal*/
.pad-hr-half{padding:0 0.5em;}
.pad-hr-1{padding:0 1em;}
.pad-hr-2{padding:0 1.5em;}
.pad-hr-3{padding:0 2em;}
.pad-hr-4{padding:0 2.5em;}
.pad-hr-5{padding:0 3em;}
.pad-hr-6{padding:0 3.5em;}
.pad-hr-7{padding:0 4em;}
.pad-hr-8{padding:0 4.5em;}
.pad-hr-9{padding:0 5em;}
.pad-hr-10{padding:0 5.5em;}
.pad-hr-11{padding:0 6em;}
/*내부 전체 padding horizontal*/
.pad-hr-half > * {padding:0 0.5em;}
.pad-hr-1 > * {padding:0 1em;}
.pad-hr-2 > * {padding:0 1.5em;}
.pad-hr-3 > * {padding:0 2em;}
.pad-hr-4 > * {padding:0 2.5em;}
.pad-hr-5 > * {padding:0 3em;}
.pad-hr-6 > * {padding:0 3.5em;}
.pad-hr-7 > * {padding:0 4em;}
.pad-hr-8 > * {padding:0 4.5em;}
.pad-hr-9 > * {padding:0 5em;}
.pad-hr-10 > * {padding:0 5.5em;}
.pad-hr-11 > * {padding:0 6em;}

/*padding top*/
.pad-top-half{padding-top:0.5em;}
.pad-top-1{padding-top:1em;}
.pad-top-2{padding-top:1.5em;}
.pad-top-3{padding-top:2em;}
.pad-top-4{padding-top:2.5em;}
.pad-top-5{padding-top:3em;}
.pad-top-6{padding-top:3.5em;}
.pad-top-7{padding-top:4em;}
.pad-top-8{padding-top:4.5em;}
.pad-top-9{padding-top:5em;}
.pad-top-10{padding-top:5.5em;}
.pad-top-11{padding-top:6em;}
/*내부 전체 padding top*/
.pad-top-half-all > * {padding-top:0.5em;}
.pad-top-1-all > * {padding-top:1em;}
.pad-top-2-all > * {padding-top:1.5em;}
.pad-top-3-all > * {padding-top:2em;}
.pad-top-4-all > * {padding-top:2.5em;}
.pad-top-5-all > * {padding-top:3em;}
.pad-top-6-all > * {padding-top:3.5em;}
.pad-top-7-all > * {padding-top:4em;}
.pad-top-8-all > * {padding-top:4.5em;}
.pad-top-9-all > * {padding-top:5em;}
.pad-top-10-all > * {padding-top:5.5em;}
.pad-top-11-all > * {padding-top:6em;}

/*padding bottom*/
.pad-bottom-half{padding-bottom:0.5em;}
.pad-bottom-1{padding-bottom:1em;}
.pad-bottom-2{padding-bottom:1.5em;}
.pad-bottom-3{padding-bottom:2em;}
.pad-bottom-4{padding-bottom:2.5em;}
.pad-bottom-5{padding-bottom:3em;}
.pad-bottom-6{padding-bottom:3.5em;}
.pad-bottom-7{padding-bottom:4em;}
.pad-bottom-8{padding-bottom:4.5em;}
.pad-bottom-9{padding-bottom:5em;}
.pad-bottom-10{padding-bottom:5.5em;}
.pad-bottom-11{padding-bottom:6em;}
/*내부 전체 padding bottom*/
.pad-bottom-half-all > * {padding-bottom:0.5em;}
.pad-bottom-1-all > * {padding-bottom:1em;}
.pad-bottom-2-all > * {padding-bottom:1.5em;}
.pad-bottom-3-all > * {padding-bottom:2em;}
.pad-bottom-4-all > * {padding-bottom:2.5em;}
.pad-bottom-5-all > * {padding-bottom:3em;}
.pad-bottom-6-all > * {padding-bottom:3.5em;}
.pad-bottom-7-all > * {padding-bottom:4em;}
.pad-bottom-8-all > * {padding-bottom:4.5em;}
.pad-bottom-9-all > * {padding-bottom:5em;}
.pad-bottom-10-all > * {padding-bottom:5.5em;}
.pad-bottom-11-all > * {padding-bottom:6em;}

/*padding left*/
.pad-left-half{padding-left:0.5em;}
.pad-left-1{padding-left:1em;}
.pad-left-2{padding-left:1.5em;}
.pad-left-3{padding-left:2em;}
.pad-left-4{padding-left:2.5em;}
.pad-left-5{padding-left:3em;}
.pad-left-6{padding-left:3.5em;}
.pad-left-7{padding-left:4em;}
.pad-left-8{padding-left:4.5em;}
.pad-left-9{padding-left:5em;}
.pad-left-10{padding-left:5.5em;}
.pad-left-11{padding-left:6em;}
/*내부 전체 padding left*/
.pad-left-half-all > * {padding-left:0.5em;}
.pad-left-1-all > * {padding-left:1em;}
.pad-left-2-all > * {padding-left:1.5em;}
.pad-left-3-all > * {padding-left:2em;}
.pad-left-4-all > * {padding-left:2.5em;}
.pad-left-5-all > * {padding-left:3em;}
.pad-left-6-all > * {padding-left:3.5em;}
.pad-left-7-all > * {padding-left:4em;}
.pad-left-8-all > * {padding-left:4.5em;}
.pad-left-9-all > * {padding-left:5em;}
.pad-left-10-all > * {padding-left:5.5em;}
.pad-left-11-all > * {padding-left:6em;}

/*padding right*/
.pad-right-half{padding-right:0.5em;}
.pad-right-1{padding-right:1em;}
.pad-right-2{padding-right:1.5em;}
.pad-right-3{padding-right:2em;}
.pad-right-4{padding-right:2.5em;}
.pad-right-5{padding-right:3em;}
.pad-right-6{padding-right:3.5em;}
.pad-right-7{padding-right:4em;}
.pad-right-8{padding-right:4.5em;}
.pad-right-9{padding-right:5em;}
.pad-right-10{padding-right:5.5em;}
.pad-right-11{padding-right:6em;}
/*내부 전체 padding right*/
.pad-right-half-all > * {padding-right:0.5em;}
.pad-right-1-all > * {padding-right:1em;}
.pad-right-2-all > * {padding-right:1.5em;}
.pad-right-3-all > * {padding-right:2em;}
.pad-right-4-all > * {padding-right:2.5em;}
.pad-right-5-all > * {padding-right:3em;}
.pad-right-6-all > * {padding-right:3.5em;}
.pad-right-7-all > * {padding-right:4em;}
.pad-right-8-all > * {padding-right:4.5em;}
.pad-right-9-all > * {padding-right:5em;}
.pad-right-10-all > * {padding-right:5.5em;}
.pad-right-11-all > * {padding-right:6em;}


/*[margin]*/

/*just margin*/
.mar-half{margin:0.5em;}
.mar-1{margin:1em;}
.mar-2{margin:1.5em;}
.mar-3{margin:2em;}
.mar-4{margin:2.5em;}
.mar-5{margin:3em;}
.mar-6{margin:3.5em;}
.mar-7{margin:4em;}
.mar-8{margin:4.5em;}
.mar-9{margin:5em;}
.mar-10{margin:5.5em;}
.mar-11{margin:6em;}
/*내부 전체 just margin*/
.mar-half-all > * {margin:0.5em;}
.mar-1-all > * {margin:1em;}
.mar-2-all > * {margin:1.5em;}
.mar-3-all > * {margin:2em;}
.mar-4-all > * {margin:2.5em;}
.mar-5-all > * {margin:3em;}
.mar-6-all > * {margin:3.5em;}
.mar-7-all > * {margin:4em;}
.mar-8-all > * {margin:4.5em;}
.mar-9-all > * {margin:5em;}
.mar-10-all > * {margin:5.5em;}
.mar-11-all > * {margin:6em;}

/*padding vertical*/
.mar-vr-half{margin:0.5em, 0;}
.mar-vr-1{margin:1em, 0;}
.mar-vr-2{margin:1.5em, 0;}
.mar-vr-3{margin:2em, 0;}
.mar-vr-4{margin:2.5em, 0;}
.mar-vr-5{margin:3em, 0;}
.mar-vr-6{margin:3.5em, 0;}
.mar-vr-7{margin:4em, 0;}
.mar-vr-8{margin:4.5em, 0;}
.mar-vr-9{margin:5em, 0;}
.mar-vr-10{margin:5.5em, 0;}
.mar-vr-11{margin:7em, 0;}
/*내부 전체 padding vertical*/
.mar-vr-half-all > * {margin:0.5em, 0;}
.mar-vr-1-all > * {margin:1em, 0;}
.mar-vr-2-all > * {margin:1.5em, 0;}
.mar-vr-3-all > * {margin:2em, 0;}
.mar-vr-4-all > * {margin:2.5em, 0;}
.mar-vr-5-all > * {margin:3em, 0;}
.mar-vr-6-all > * {margin:3.5em, 0;}
.mar-vr-7-all > * {margin:4em, 0;}
.mar-vr-8-all > * {margin:4.5em, 0;}
.mar-vr-9-all > * {margin:5em, 0;}
.mar-vr-10-all > * {margin:5.5em, 0;}
.mar-vr-11-all > * {margin:7em, 0;}

/*padding horizontal*/
.mar-hr-half{margin:0, 0.5em;}
.mar-hr-1{margin:0, 1em;}
.mar-hr-2{margin:0, 1.5em;}
.mar-hr-3{margin:0, 2em;}
.mar-hr-4{margin:0, 2.5em;}
.mar-hr-5{margin:0, 3em;}
.mar-hr-6{margin:0, 3.5em;}
.mar-hr-7{margin:0, 4em;}
.mar-hr-8{margin:0, 4.5em;}
.mar-hr-9{margin:0, 5em;}
.mar-hr-10{margin:0, 5.5em;}
.mar-hr-11{margin:0, 6em;}
/*내부 전체 padding horizontal*/
.mar-hr-half-all > * {margin:0, 0.5em;}
.mar-hr-1-all > * {margin:0, 1em;}
.mar-hr-2-all > * {margin:0, 1.5em;}
.mar-hr-3-all > * {margin:0, 2em;}
.mar-hr-4-all > * {margin:0, 2.5em;}
.mar-hr-5-all > * {margin:0, 3em;}
.mar-hr-6-all > * {margin:0, 3.5em;}
.mar-hr-7-all > * {margin:0, 4em;}
.mar-hr-8-all > * {margin:0, 4.5em;}
.mar-hr-9-all > * {margin:0, 5em;}
.mar-hr-10-all > * {margin:0, 5.5em;}
.mar-hr-11-all > * {margin:0, 6em;}

/*margin center*/
.mar-center{margin:0 auto;}
.mar-center-half{margin:0.5em auto;}
.mar-center-1{margin:1em auto;}
.mar-center-2{margin:1.5em auto;}
.mar-center-3{margin:2em auto;}
.mar-center-4{margin:2.5em auto;}
.mar-center-5{margin:3em auto;}
.mar-center-6{margin:3.5em auto;}
.mar-center-7{margin:4em auto;}
.mar-center-8{margin:4.5em auto;}
.mar-center-9{margin:5em auto;}
.mar-center-10{margin:5.5em auto;}
.mar-center-11{margin:6em auto;}
.mar-center-12{margin:6.5em auto;}
.mar-center-13{margin:7em auto;}
.mar-center-14{margin:7.5em auto;}
.mar-center-15{margin:8em auto;}
/*내부 전체 margin center*/
.mar-center-all > * {margin:0 auto;}
.mar-center-half-all > * {margin:0.5em auto;}
.mar-center-1-all > * {margin:1em auto;}
.mar-center-2-all > * {margin:1.5em auto;}
.mar-center-3-all > * {margin:2em auto;}
.mar-center-4-all > * {margin:2.5em auto;}
.mar-center-5-all > * {margin:3em auto;}
.mar-center-6-all > * {margin:3.5em auto;}
.mar-center-7-all > * {margin:4em auto;}
.mar-center-8-all > * {margin:4.5em auto;}
.mar-center-9-all > * {margin:5em auto;}
.mar-center-10-all > * {margin:5.5em auto;}
.mar-center-11-all > * {margin:6em auto;}
.mar-center-12-all > * {margin:6.5em auto;}
.mar-center-13-all > * {margin:7em auto;}
.mar-center-14-all > * {margin:7.5em auto;}
.mar-center-15-all > * {margin:8em auto;}

/*margin top*/
.mar-top-half{margin-top:0.5em;}
.mar-top-1{margin-top:1em;}
.mar-top-2{margin-top:1.5em;}
.mar-top-3{margin-top:2em;}
.mar-top-4{margin-top:2.5em;}
.mar-top-5{margin-top:3em;}
.mar-top-6{margin-top:3.5em;}
.mar-top-7{margin-top:4em;}
.mar-top-8{margin-top:4.5em;}
.mar-top-9{margin-top:5em;}
.mar-top-10{margin-top:5.5em;}
.mar-top-11{margin-top:6em;}
.mar-top-12{margin-top:6.5em;}
.mar-top-13{margin-top:7em;}
.mar-top-14{margin-top:7.5em;}
.mar-top-15{margin-top:8em;}
/*내부 전체 margin top*/
.mar-top-half-all > * {margin-top:0.5em;}
.mar-top-1-all > * {margin-top:1em;}
.mar-top-2-all > * {margin-top:1.5em;}
.mar-top-3-all > * {margin-top:2em;}
.mar-top-4-all > * {margin-top:2.5em;}
.mar-top-5-all > * {margin-top:3em;}
.mar-top-6-all > * {margin-top:3.5em;}
.mar-top-7-all > * {margin-top:4em;}
.mar-top-8-all > * {margin-top:4.5em;}
.mar-top-9-all > * {margin-top:5em;}
.mar-top-10-all > * {margin-top:5.5em;}
.mar-top-11-all > * {margin-top:6em;}
.mar-top-12-all > * {margin-top:6.5em;}
.mar-top-13-all > * {margin-top:7em;}
.mar-top-14-all > * {margin-top:7.5em;}
.mar-top-15-all > * {margin-top:8em;}

/*margin bottom*/
.mar-bottom-half{margin-bottom:0.5em;}
.mar-bottom-1{margin-bottom:1em;}
.mar-bottom-2{margin-bottom:1.5em;}
.mar-bottom-3{margin-bottom:2em;}
.mar-bottom-4{margin-bottom:2.5em;}
.mar-bottom-5{margin-bottom:3em;}
.mar-bottom-6{margin-bottom:3.5em;}
.mar-bottom-7{margin-bottom:4em;}
.mar-bottom-8{margin-bottom:4.5em;}
.mar-bottom-9{margin-bottom:5em;}
.mar-bottom-10{margin-bottom:5.5em;}
.mar-bottom-11{margin-bottom:6em;}
.mar-bottom-12{margin-bottom:6.5em;}
.mar-bottom-13{margin-bottom:7em;}
.mar-bottom-14{margin-bottom:7.5em;}
.mar-bottom-15{margin-bottom:8em;}
/*내부 전체 margin bottom*/
.mar-bottom-half-all > * {margin-bottom:0.5em;}
.mar-bottom-1-all > * {margin-bottom:1em;}
.mar-bottom-2-all > * {margin-bottom:1.5em;}
.mar-bottom-3-all > * {margin-bottom:2em;}
.mar-bottom-4-all > * {margin-bottom:2.5em;}
.mar-bottom-5-all > * {margin-bottom:3em;}
.mar-bottom-6-all > * {margin-bottom:3.5em;}
.mar-bottom-7-all > * {margin-bottom:4em;}
.mar-bottom-8-all > * {margin-bottom:4.5em;}
.mar-bottom-9-all > * {margin-bottom:5em;}
.mar-bottom-10-all > * {margin-bottom:5.5em;}
.mar-bottom-11-all > * {margin-bottom:6em;}
.mar-bottom-12-all > * {margin-bottom:6.5em;}
.mar-bottom-13-all > * {margin-bottom:7em;}
.mar-bottom-14-all > * {margin-bottom:7.5em;}
.mar-bottom-15-all > * {margin-bottom:8em;}

/*margin left*/
.mar-left-half{margin-left:0.5em;}
.mar-left-1{margin-left:1em;}
.mar-left-2{margin-left:1.5em;}
.mar-left-3{margin-left:2em;}
.mar-left-4{margin-left:2.5em;}
.mar-left-5{margin-left:3em;}
.mar-left-6{margin-left:3.5em;}
.mar-left-7{margin-left:4em;}
.mar-left-8{margin-left:4.5em;}
.mar-left-9{margin-left:5em;}
.mar-left-10{margin-left:5.5em;}
.mar-left-11{margin-left:6em;}
.mar-left-12{margin-left:6.5em;}
.mar-left-13{margin-left:7em;}
.mar-left-14{margin-left:7.5em;}
.mar-left-15{margin-left:8em;}
/*내부 전체 margin left*/
.mar-left-half-all > * {margin-left:0.5em;}
.mar-left-1-all > * {margin-left:1em;}
.mar-left-2-all > * {margin-left:1.5em;}
.mar-left-3-all > * {margin-left:2em;}
.mar-left-4-all > * {margin-left:2.5em;}
.mar-left-5-all > * {margin-left:3em;}
.mar-left-6-all > * {margin-left:3.5em;}
.mar-left-7-all > * {margin-left:4em;}
.mar-left-8-all > * {margin-left:4.5em;}
.mar-left-9-all > * {margin-left:5em;}
.mar-left-10-all > * {margin-left:5.5em;}
.mar-left-11-all > * {margin-left:6em;}
.mar-left-12-all > * {margin-left:6.5em;}
.mar-left-13-all > * {margin-left:7em;}
.mar-left-14-all > * {margin-left:7.5em;}
.mar-left-15-all > * {margin-left:8em;}

/*margin right*/
.mar-right-half{margin-right:0.5em;}
.mar-right-1{margin-right:1em;}
.mar-right-2{margin-right:1.5em;}
.mar-right-3{margin-right:2em;}
.mar-right-4{margin-right:2.5em;}
.mar-right-5{margin-right:3em;}
.mar-right-6{margin-right:3.5em;}
.mar-right-7{margin-right:4em;}
.mar-right-8{margin-right:4.5em;}
.mar-right-9{margin-right:5em;}
.mar-right-10{margin-right:5.5em;}
.mar-right-11{margin-right:6em;}
.mar-right-12{margin-right:6.5em;}
.mar-right-13{margin-right:7em;}
.mar-right-14{margin-right:7.5em;}
.mar-right-15{margin-right:8em;}
/*내부 전체 margin right*/
.mar-right-half-all > * {margin-right:0.5em;}
.mar-right-1-all > * {margin-right:1em;}
.mar-right-2-all > * {margin-right:1.5em;}
.mar-right-3-all > * {margin-right:2em;}
.mar-right-4-all > * {margin-right:2.5em;}
.mar-right-5-all > * {margin-right:3em;}
.mar-right-6-all > * {margin-right:3.5em;}
.mar-right-7-all > * {margin-right:4em;}
.mar-right-8-all > * {margin-right:4.5em;}
.mar-right-9-all > * {margin-right:5em;}
.mar-right-10-all > * {margin-right:5.5em;}
.mar-right-11-all > * {margin-right:6em;}
.mar-right-12-all > * {margin-right:6.5em;}
.mar-right-13-all > * {margin-right:7em;}
.mar-right-14-all > * {margin-right:7.5em;}
.mar-right-15-all > * {margin-right:8rem;}


/*percentage widths*/
.width-5{width:5%;}
.width-10{width:10%;}
.width-15{width:15%;}
.width-20{width:20%;}
.width-25{width:25%;}
.width-30{width:30%;}
.width-35{width:35%;}
.width-40{width:40%;}
.width-45{width:45%;}
.width-50{width:50%;}
.width-55{width:55%;}
.width-60{width:60%;}
.width-65{width:65%;}
.width-70{width:70%;}
.width-75{width:75%;}
.width-80{width:80%;}
.width-85{width:85%;}
.width-90{width:90%;}
.width-95{width:95%;}
.width-100{width:100%;}


/*[position]*/
.relative{position:relative;}
.absolute{position:absolute;}
.fixed{position:fixed;}
.sticky{position:sticky;}

/*top*/
.top-0{top:0;}
.top-5{top:5%;}
.top-10{top:10%;}
.top-15{top:15%;}
.top-20{top:20%;}
.top-25{top:25%;}
.top-30{top:30%;}
.top-35{top:35%;}
.top-40{top:40%;}
.top-45{top:45%;}
.top-50{top:50%;}
.top-55{top:55%;}
.top-60{top:60%;}
.top-65{top:65%;}
.top-70{top:70%;}
.top-75{top:75%;}
.top-80{top:80%;}
.top-85{top:85%;}
.top-90{top:90%;}
.top-95{top:95%;}
.top-100{top:100%;}
/*bottom*/
.bottom-0{bottom:0;}
.bottom-5{bottom:5%;}
.bottom-10{bottom:10%;}
.bottom-15{bottom:15%;}
.bottom-20{bottom:20%;}
.bottom-25{bottom:25%;}
.bottom-30{bottom:30%;}
.bottom-35{bottom:35%;}
.bottom-40{bottom:40%;}
.bottom-45{bottom:45%;}
.bottom-50{bottom:50%;}
.bottom-55{bottom:55%;}
.bottom-60{bottom:60%;}
.bottom-65{bottom:65%;}
.bottom-70{bottom:70%;}
.bottom-75{bottom:75%;}
.bottom-80{bottom:80%;}
.bottom-85{bottom:85%;}
.bottom-90{bottom:90%;}
.bottom-95{bottom:95%;}
.bottom-100{bottom:100%;}
/*left*/
.left-0{left:0;}
.left-5{left:5%; transform:translate(-5%)}
.left-10{left:10%; transform:translate(-10%)}
.left-15{left:15%; transform:translate(-15%)}
.left-20{left:20%; transform:translate(-20%)}
.left-25{left:25%; transform:translate(-25%)}
.left-30{left:30%; transform:translate(-30%)}
.left-35{left:35%; transform:translate(-35%)}
.left-40{left:40%; transform:translate(-40%)}
.left-45{left:45%; transform:translate(-45%)}
.left-50{left:50%; transform:translate(-50%)}
.left-55{left:55%; transform:translate(-55%)}
.left-60{left:60%; transform:translate(-60%)}
.left-65{left:65%; transform:translate(-65%)}
.left-70{left:70%; transform:translate(-70%)}
.left-75{left:75%; transform:translate(-75%)}
.left-80{left:80%; transform:translate(-80%)}
.left-85{left:85%; transform:translate(-85%)}
.left-90{left:90%; transform:translate(-90%)}
.left-95{left:95%; transform:translate(-95%)}
.left-100{left:100%; transform:translate(-100%)}
/*right*/
.right-0{right:0;}
.right-5{right:5%; transform:translate(5%)}
.right-10{right:10%; transform:translate(10%)}
.right-15{right:15%; transform:translate(15%)}
.right-20{right:20%; transform:translate(20%)}
.right-25{right:25%; transform:translate(25%)}
.right-30{right:30%; transform:translate(30%)}
.right-35{right:35%; transform:translate(35%)}
.right-40{right:40%; transform:translate(40%)}
.right-45{right:45%; transform:translate(45%)}
.right-50{right:50%; transform:translate(50%)}
.right-55{right:55%; transform:translate(55%)}
.right-60{right:60%; transform:translate(60%)}
.right-65{right:65%; transform:translate(65%)}
.right-70{right:70%; transform:translate(70%)}
.right-75{right:75%; transform:translate(75%)}
.right-80{right:80%; transform:translate(80%)}
.right-85{right:85%; transform:translate(85%)}
.right-90{right:90%; transform:translate(90%)}
.right-95{right:95%; transform:translate(95%)}
.right-100{right:100%; transform:translate(100%)}


/*[flex]*/
.flex-all-center{display:flex; justify-content: center; align-items: center;}
.flex-wrap{display:flex; flex-wrap:wrap; justify-content: left;}
.flex-wrap-reverse{display:flex; flex-wrap:wrap-reverse; justify-content: left;}

/*flex row*/
.flex-row-around{display:flex; justify-content: space-around; align-items: center;}
.flex-row-between{display:flex; justify-content: space-between; align-items: center;}
.flex-row-evenly{display:flex; justify-content: space-evenly; align-items: center;}
.flex-right{display: flex; justify-content: right; align-items: center;}
.flex-left{display: flex; align-items: center;}

/*justify content*/
.justify-center{justify-content: center;}
.justify-left{justify-content: left;}
.justify-right{justify-content: right;}

/*align items*/
.align-center{align-items: center;}
.align-start{align-items: flex-start;}
.align-end{align-items: flex-end;}

/*flex column*/
.flex-col-around{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.flex-col-between{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.flex-col-evenly{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*flex-self*/
.align-self-center{align-self: center;}
.align-self-start{align-self: flex-start;}
.align-self-end{align-self:flex-end;}
.justify-self-center{justify-self: center;}
.justify-self-left{justify-self: left;}
.justify-self-right{justify-self: right;}

/*flex-col*/
.flex-col-auto > * {width: auto;}
.flex-col-1 > * {flex:0 0 auto; width: 100%;}
.flex-col-2 > * {width: 45%;}
.flex-col-3 > * {width: 30%;}
.flex-col-4 > * {width: 23%;}
.flex-col-5 > * {width: 18%;}
.flex-col-6 > * {width: 16%;}

/*flex col 태블릿 가로 이하부터*/ 
@media (max-width:1023px){ 
    .flex-col-auto > * {width: auto;}
    .flex-col-1 > * {flex:0 0 auto; width: 100%;}
    .flex-col-2 > * {width: 45%;}
    .flex-col-3 > * {width: 30;}
    .flex-col-4 > * {width: 30;}
    .flex-col-5 > * {width: 30;}
    .flex-col-6 > * {width: 18;}
} 
  
/* 태블릿 세로 이하부터*/ 
  @media (max-width:768px){ 
    .flex-col-2 > * {width: 45%;}
    .flex-col-3 > * {width: 45%;}
    .flex-col-4 > * {width: 45%;}
    .flex-col-5 > * {width: 30%;}
    .flex-col-6 > * {width: 30%;}
} 
  
  /* 모바일 가로 이하부터*/ 
  @media (max-width:480px){
    .flex-col-2 > * {width: 45%;}
    .flex-col-3 > * {width: 45%;}
    .flex-col-4 > * {width: 45%;}
    .flex-col-5 > * {width: 45%;}
    .flex-col-6 > * {width: 45%;}
} 
  
  /* 모바일 세로 이하부터*/ 
  @media (max-width:479px){
    .flex-col-2 > * {width: 100%;}
    .flex-col-3 > * {width: 100%;}
    .flex-col-4 > * {width: 100%;}
    .flex-col-5 > * {width: 100%;}
    .flex-col-6 > * {width: 100%;}
}



/*order*/
.order-1{order:1;}
.order-2{order:2;}
.order-3{order:3;}
.order-4{order:4;}
.order-5{order:5;}
.order-6{order:6;}
.order-7{order:7;}
.order-8{order:8;}
.order-9{order:9;}
.order-10{order:10;}
.order-11{order:11;}
.order-12{order:12;}
.order-13{order:13;}
.order-14{order:14;}
.order-15{order:15;}
.order-16{order:16;}
.order-17{order:17;}
.order-18{order:18;}
.order-19{order:19;}
.order-20{order:20;}


/*flex-grow*/
.grow-1{flex-grow:1;}
.grow-2{flex-grow:2;}
.grow-3{flex-grow:3;}
.grow-4{flex-grow:4;}
.grow-5{flex-grow:5;}
.grow-6{flex-grow:6;}
.grow-7{flex-grow:7;}
/*내부요소 flex grow (전부 일정하게 채우기)*/
.grow-all > * {flex-grow:1;}


/*[grid]*/
/*grid는 레이아웃 고정 시에 사용 (반응형은 flex로)*/
/*grid column*/
.grid-col-2{display:grid; grid-template-columns:repeat(2, 1fr);}
.grid-col-3{display:grid; grid-template-columns:repeat(3, 1fr);}
.grid-col-4{display:grid; grid-template-columns:repeat(4, 1fr);}
.grid-col-5{display:grid; grid-template-columns:repeat(5, 1fr);}
.grid-col-6{display:grid; grid-template-columns:repeat(6, 1fr);}
/*grid row*/
.grid-row-2{display:grid; grid-template-rows:repeat(2, 1fr);}
.grid-row-3{display:grid; grid-template-rows:repeat(3, 1fr);}
.grid-row-4{display:grid; grid-template-rows:repeat(4, 1fr);}
.grid-row-5{display:grid; grid-template-rows:repeat(5, 1fr);}
.grid-row-6{display:grid; grid-template-rows:repeat(6, 1fr);}

/*[gap]*/
.gap-1{gap:0.5em;}
.gap-2{gap:1em;}
.gap-3{gap:1.5em;}
.gap-4{gap:2em;}
.gap-5{gap:2.5em;}
.gap-6{gap:3em;}
.gap-7{gap:3.5em;}
.gap-8{gap:4em;}
/*row-gap*/
.row-gap1{row-gap:0.5em;}
.row-gap2{row-gap:1em;}
.row-gap3{row-gap:1.5em;}
.row-gap4{row-gap:2em;}
.row-gap5{row-gap:2.5em;}
.row-gap6{row-gap:3em;}
.row-gap7{row-gap:3.5em;}
.row-gap8{row-gap:4em;}
/*column-gap*/
.column-gap1{column-gap:0.5em;}
.column-gap2{column-gap:1em;}
.column-gap3{column-gap:1.5em;}
.column-gap4{column-gap:2em;}
.column-gap5{column-gap:2.5em;}
.column-gap6{column-gap:3em;}
.column-gap7{column-gap:3.5em;}
.column-gap8{column-gap:4em;}


/*[border-spacing]*/
.border-spacing1{border-spacing: 0.5em;}
.border-spacing2{border-spacing: 1em;}
.border-spacing3{border-spacing: 1.5em;}
.border-spacing4{border-spacing: 2em;}
.border-spacing5{border-spacing: 2.5em;}
.border-spacing6{border-spacing: 3em;}
.border-spacing7{border-spacing: 3.5em;}
.border-spacing8{border-spacing: 4em;}

/*border collapse*/
.collapse{border-collapse: collapse;}
.collapse-off{border-collapse: separate;}


/*[display]*/
.block{display:block;}
.show{display:block;}
.inline{display:inline;}
.inline-block{display:inline-block;}
.hide{display:none;}
.none{display:none;}
.flex{display:flex;}
.grid{display:grid;}


/*[list style type]*/
.list-none{list-style-type: none;}
.list-disc{list-style-type: disc;}
.list-armenian{list-style-type:armenian;}
.list-circle{list-style-type:circle;}
.list-square{list-style-type:square;}
.list-alpha{list-style-type:lower-alpha;}
.list-greek{list-style-type:lower-greek;}
.list-latin{list-style-type:lower-latin;}
.list-roman{list-style-type:lower-roman;}
.list-georgian{list-style-type:georgian;}
.list-decimal{list-style-type:decimal;}
.list-decimal-zero{list-style-type:decimal-leading-zero;}


/*img position*/
.img-cover{object-fit: cover;}
.img-contain{object-fit: contain;}
.img-fill{object-fit: fill;}


/*background image*/
.bg-image-fixed{background-attachment:fixed;} /*배경 이미지 스크롤 무시 + 고정*/


/*[z-index]*/
.z-index-1{z-index:1;}
.z-index-2{z-index:2;}
.z-index-3{z-index:3;}
.z-index-4{z-index:4;}
.z-index-5{z-index:5;}
.z-index-6{z-index:6;}
.z-index-7{z-index:7;}
.z-index-8{z-index:8;}
.z-index-9{z-index:9;}
.z-index-10{z-index:10;}




/*화면비가 줄어들면 꺼지도록*/

/* 태블릿 가로 이하부터 사라짐 */ 
@media (max-width:1023px){ 
    .tablet-horizon-off{display:none;}
} 
  
/* 태블릿 세로 이하부터 사라짐*/ 
  @media (max-width:768px){ 
    .tablet-vertical-off{display:none;}
} 
  
  /* 모바일 가로 이하부터 사라짐*/ 
  @media (max-width:480px){
    .phone-horizon-off{display:none;}
} 
  
  /* 모바일 세로 이하부터 사라짐*/ 
  @media (max-width:479px){
    .phone-vertical-off{display:none;}
}


/*특정 화면크기에서만 나타남*/

/* 태블릿 가로 이상부터 나타남 */ 
@media (max-width:1023px){ 
    .tablet-horizon-on{display:block;}
} 
  
/* 태블릿 세로 이상부터 나타남*/ 
  @media (max-width:768px){ 
    .tablet-vertical-on{display:block;}
} 
  
  /* 모바일 가로 이상부터 나타남*/ 
  @media (max-width:480px){
    .phone-horizon-on{display:block;}
} 
  
  /* 모바일 세로 이상부터 나타남*/ 
  @media (max-width:479px){
    .phone-vertical-on{display:block;}
}


/*hover*/
.hover-brightness:hover{filter: brightness(0.9);}
.hover-contrast:hover{filter:contrast(1.5)}
.hover-scale:hover{transform: scale(1.2);}
/*hover all*/

.brightness-child, .contrast-child, .scale-child{ transition:all 1s; }
.hover-brightness-all:hover .brightness-child:hover  {filter: brightness(0.85);}
.hover-contrast-all:hover .contrast-child:hover {filter:contrast(1.5)}
.hover-scale-all:hover .scale-child{transform: scale(1.2);}


/*active*/
.click-translate:active{transform: translate(2px,2px); filter:none;}
.click-press:active{
    box-shadow: inset 0.25em 0.25em 0 rgba(0,0,0,0.3);
    border:none;
    filter:none;
}
/*active all*/
.translate-child{transition:all 0s;}
.press-child{transition:all 1s;}
.click-translate-all:active .translate-child:active {transform: translate(2px,2px); filter:none;}
.click-press-all:active .press-child:active {
    box-shadow: inset 0.25em 0.25em 0 rgba(0,0,0,0.3);
    border:none;
    filter:none;
}

/*cursor*/
.cursor-auto{cursor: auto;}
.cursor-pointer{cursor: pointer;}
.cursor-move{cursor: move;}
.cursor-e-resize{cursor: e-resize;}
.cursor-ne-resize{cursor: ne-resize;}
.cursor-nw-resize{cursor: nw-resize;}
.cursor-n-resize{cursor: n-resize;}
.cursor-se-resize{cursor: se-resize;}
.cursor-sw-resize{cursor: sw-resize;}
.cursor-s-resize{cursor: s-resize;}
.cursor-w-resize{cursor: w-resize;}
.cursor-wait{cursor: wait;}

/*cursor all*/
.cursor-pointer-all > * {cursor: pointer;}


/*transition*/
.transition-half{transition:all 0.5s;}
.transition-1s{transition:all 1s;}
.transition-2s{transition:all 2s;}
.transition-3s{transition:all 3s;}
.transition-4s{transition:all 4s;}
.transition-5s{transition:all 5s;}
/*내부요소 transition*/
.transition-half-all > * {transition:all 0.5s;}
.transition-1s-all > * {transition:all 1s;}
.transition-2s-all > * {transition:all 2s;}
.transition-3s-all > * {transition:all 3s;}
.transition-4s-all > * {transition:all 4s;}
.transition-5s-all > * {transition:all 5s;}