*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
ul{list-style-type: none;}
ul li {padding:5px;}
input[type=checkbox]{margin-right:5px;}
#wrap{
    width:100%;
    max-width:1000px;
    min-width:700px;
    margin:0 auto;
}
.sideclose{/*side  접혀있는 모습  */
    position:absolute;
    left:-300px; top:0;
    padding:100px 50px;
    display:flex;
    flex-direction: column;
    background:#222845;    color:#fff;
    height:100%;    row-gap:20px;    width:300px;
    transition: left 1s ease;
}
.close{ /* 접혀있을때 아이콘 모습 */
    position:absolute;
    top:45px;left:300px;color:#222845;
    font-size:30px;    cursor:pointer;
    transition: left 1s ease 0.5s;
}
.open{    left:50px;color:#fff;} /*  펼쳐 질때 아이콘 모습 */
.sideopen{    left:0;  }   /* side 펼치면  */
#word, #money{
    height:30px; 
    border-radius: 5px; 
    padding:0 5px; 
    outline: none;
    border:0;
    font-size:17px;
}
#side h3{border-top:2px solid #aaa; padding-top:10px;}
#category li{
    display:flex; align-items: center;
    column-gap: 10px;
    padding:2px 0;
}
#category input[type=checkbox]{
    height:17px;width:17px;
}
#money{
    width:150px;
}


#main{
    width:100%;
    display: flex;
    align-items: self-start;
    justify-content: center;
}
.title{
    margin-top:30px ;
}
.title span{text-align: center; font-size:17px; font-weight:800;border-bottom:2px solid #aaa;}
.categoryText{display:inline-block; width:20%;padding:3px 10px; border-right:1px solid #aaa;}
.moneyText{display:inline-block; text-align:right;width:20%;padding:3px 10px; border-right:1px solid #aaa;}
.detailText{display:inline-block; width:60%;padding:3px 10px;}
.detail{

}
.detail:nth-child(even){
    background:#ddd;
}


#title{
    display:flex;
    align-items: flex-end;
    width:100%;
    margin: 30px auto;
    justify-content: space-between;
    padding:10px;
    border-bottom:8px double #ddd;
}
#incomeList, #expendList{
    display:inline-block;
    width:50%;
    display:flex;
    flex-wrap:wrap;
    padding:25px;
    padding-top:0;
}
#expendList{
    border-left:7px dotted #ddd;
}

.red{
    background:rgb(255, 170, 170);
}

.blue{
    color:white;
    background:rgb(193, 193, 255);
}

.box{
    width:200px;
    height:200px;
    margin:10px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size:20px;
    padding:10px;
    box-shadow: 3px 3px 5px rgb(189, 189, 189);
    color:rgb(31, 31, 31);
    text-align: center;
}
.box li{
    padding:15px;
}
.box li:nth-child(2) u{
    display:inline-block;
    background-color: #8f8f8f77;
    border-radius:30px;
    height:35px;
    line-height:35px;
    width:130px;
    text-align: center;
}