*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

table{
    border-collapse: collapse;
    margin:100px auto;
}

.picture{
    width:150px;
    height:150px;
    border:1px dashed pink;
    font-size:30px;
    text-align: center;
    color:gray;
}

#start{
    position:absolute;
    left:44%;
    width:100px;
    height:50px;
    top:20px;
    font-size:25px;
}

#board{
    position:absolute;
    left:80px;
    top:70px;
}