*{
    padding:0;
    margin:0;
}

#subway{
    margin:100px auto;
    width:1000px;
    height:500px;
}

.cells{
    width:125px;
    height:60px;
    border-top:10px solid rgb(255, 68, 68);
    font-weight:900;
    text-align: center;
}

.forward, .reverse{
    display:flex;
}

.reverse{
    display:flex;
    flex-flow: row-reverse;
}

.forward cells:last-child{
    border-right:10px solid rgb(255, 68, 68);
}

.reverse cells:last-child{

}